[2018-10-31 02:25] JunMa11 commented on #263
Hi, there are some [demos](https://github.com/NifTK/NiftyNet/tree/dev/demos) here.

[2018-10-31 11:15] tomvars commented on #273
Hi! This is likely because you haven't changed the `histogram_ref_file`. Please refer to this stack overflow post https://stackoverflow.com/questions/46831160/niftynet-indices-are-out-of-bounds-error and this section of the read the docs https://niftynet.readthedocs.io/en/dev/config_spec.html#histogram-ref-file for more information

[2018-10-31 12:00] fepegar opened #274 "Error messages should be more informative"
It has always been hard for me to find the line containing information about the errors in NiftyNet output. Oftentimes I find the line that seems to give trouble, but it's not clear to me what I need to do to solve it.

I think this is a recurrent issue for other users as well:

#273
Error:
[code]
Solution:

#260
Error:
[code]
Solution:

#170
Error:
[code]
Solution:

[Error](https://stackoverflow.

[2018-11-01 22:43] wyli commented on #261
This can happen when using niftynet 0.4.0 with tensorflow 1.11.0, downgrading TF to v1.10.0 resolves the issue.

[2018-11-01 22:43] #261 closed, assigned to nobody

[2018-11-02 17:36] qianjiangcn commented on #273
Hi, thank you very much for your answer.
Yes I did not change the histogram_ref_file and it seems to generate a new one by
''normalisation histogram training |----------| 2.8%''
And I am still not sure how to set up the normalisation_file?
Should I write a txt file indicating number of labels ?
I referred to the config file and there has not been much information.
Thank you very much!

[2018-11-02 17:56] qianjiangcn opened #275 "Vnet 3D segmentation: Train loss remains 0.99 all the time"
Hi
I am trying to train 3D segmentation network and using the Vnet config file in the github repo.
But the result seems that it is not training at all since the loss remains all the time.
Why would this happen and am I missing anything?
Here is the config.ini I use.
[T1]
path_to_search = ../data
filename_contains = T1
filename_not_contains =
spatial_window_size = (32, 32, 32)
pixdim = (1.0, 1.0, 1

[2018-11-05 05:36] Farihaa opened #276 "Individual Dice Scores"
I am using dense vnet architecture for multi-organ segmentation of abdominal cavity using "Beyond the Cranial Vault" dataset.
The developers of dense vnet print individual dice scores of the organs on terminal while overall dice loss is added to tensorboard in "dice-hinge.py" file.
I want to add individual dice scores to tensorboard as well to analyze the trend for individual organs. I have not be

[2018-11-05 23:40] qianjiangcn opened #277 "Contradiction:3D U-Net Dimension size:should it be 92+8*M or should it be divisible by 8?"
According to the Q&A part, the input spatial window size of 3D Unet should be 92+8*M (M>=0)
link (https://gist.github.com/fepegar/1fb865494cb44ac043c3189ec415d411)

But when I try to run the network, it reports error:
[code]

Does this mean that the windows size should be divisible by 8?
But 92 is apparently indivisible by 8.

So what spatial window size should I set for 3D Unet exactly?
Thank you

[2018-11-07 12:00] adoudou2008 opened #278 "DenseVnet Error"
when i turn use_prior=True,
i will get TypeError: Expected float32, got <niftynet.network.dense_vnet.SpatialPriorBlock object at 0x7f8fc0bf4908> of type 'SpatialPriorBlock' instead.
Is there something problem？
i also tried Unitests for Dense_vnet.

[2018-11-07 13:18] soodee commented on #261
Thanks Wenqi @wyli .
Downgrading resolved the issue but now I have another error as follows:

[1mINFO:niftynet:[0m Parameters from random initialisations ...
[1mCRITICAL:niftynet:[0m Don't know how to generate sampling locations: Spatial dimensions of the grouped input sources are not consistent. {(538, 644, 579), (115, 132, 121)}
2018-11-06 15:25:57.072420: W c:\users\user\source\repos\tensor

[2018-11-08 11:07] JunMa11 commented on #277
Comment the following two lines in `./network/unet.py 121-122`  would work for your case.
[code]

[2018-11-08 11:20] wyli opened #279 "Feature request: upsampling layers"
feature map upsampling is currently implemented using deconvolution,
and would be great to achieve the same spatial dimensionality changes with:
- [x] linear interpolations + convolution (niftynet/layer/linear_resize + conv)
- [x] sub-pixel convolution layer ([Shi et al.](https://arxiv.org/abs/1609.05158)) (merged PR https://github.com/NifTK/NiftyNet/pull/341)

[2018-11-08 11:23] Zach-ER opened #280 "Layers should allow more options than just 'batch norm' and 'group norm' (instance norm?)"
Layers have a `with_bn` option that is over-ridden for group normalization by having a positive group size. Instead of this flag, we should have a `bn_type` string that determines which type of normalization to apply.

[2018-11-08 11:23] wyli opened #281 "Feature request: padded convolution"
convolutional layer should support padding mode such as "CONSTANT", "REFLECT", "SYMMETRIC", in addition to "same" and "valid".

[2018-11-08 22:54] tvercaut commented on #280
I find the variable name `bn_type` confusing if you end up not using BN... Maybe replace it with `featnorm_type` or something along these lines?

[2018-11-09 09:34] Zach-ER commented on #273
Hi there,

Apologies for the confusion: First of all, make sure that `num_classes` is set in the `[SEGMENTATION]` section of the config file to however many classes are present in your images (e.g. 2 for binary segmentation).

After this, run the network. If it crashes after the histogram training, look at the last two lines of histogram training. Make sure the `label-from` and `label-to` are set

[2018-11-09 09:38] Zach-ER commented on #276
Hi there,
if you can find the print statement that yields the individual dice scores, you should be able to add them to tensorboard with something like:

[code]

Does this help?

[2018-11-09 09:38] #115 closed

[2018-11-09 16:46] soodee commented on #261
Anyone's ever had that error?!
Any guess how to resolve this issue?!

[2018-11-11 09:11] ssbpp commented on #252
I would like to do full volume validation during training. Is that now possible in some way? It would be really helpful!

[2018-11-11 19:33] YilinLiu97 opened #283 "how to print out dropout rate during training?"
Hi, I guess that I may need to modify the application.variables.py, but I'm not exactly sure how to do it. Any help is appreciated!

[2018-11-12 11:15] Zach-ER opened #284 "There should be a 'pad_to' option for volume padding, to pad to a given size."
Not all medical images come pre-processed to the same size. It would be nice to be able to pad to a specified volume size, especially for efficient inference.

[2018-11-12 11:21] fbragman commented on #283
The dropout rate is defined the layer_op of ConvolutionalLayer (https://github.com/NifTK/NiftyNet/blob/a0eab6ea24b45cfe1effd0d6a7b51461beb6946c/niftynet/layer/convolution.py#L168). It is defaulted to None.

You can modify it when you call the ConvolutionalLayer in the network file e.g.

        conv_layer = ConvolutionalLayer(...)
        output = first_conv_layer(input, is_training, keep_prob=)

[2018-11-12 12:03] tvercaut opened #285 "Switch BatchNorm implementation to rely on the official tf.layers.batch_normalization"
Batch Normalisation is officially supported in the main TensorFlow repo:
https://www.tensorflow.org/api_docs/python/tf/layers/batch_normalization

It would be beneficial to rely on this rather than our own implementation:
https://github.com/NifTK/NiftyNet/blob/dev/niftynet/layer/bn.py

Note that other users have done that already, see e.g.:
https://github.com/gift-surg/fetal_brain_seg/blob/master/

[2018-11-12 12:04] tvercaut commented on #285
This relates also to #280

[2018-11-12 12:07] tvercaut commented on #280
Should we take the opportunity of this PR to address #285 at the same time?

In the spirit of TF, we could also maybe go for `feature_normalization` as a flag name (see discussions in https://github.com/NifTK/NiftyNet/pull/282).

[2018-11-12 14:40] wyli opened #286 "resize window sampler should support number of epochs parameter"
Currently `shuffle` and `epoch` are tightly coupled in the `ResizeSampler` -- the number of epochs is infinite if `shuffle` is on, and is 1 if `shuffle` is off. These two parameters should be independent.

[2018-11-12 14:48] wyli commented on #280
fixing #285 will break some of the model zoo items because of the variable name scopes... So we need another PR for #285, probably updating the model zoo items as well.

[2018-11-12 17:29] YilinLiu97 commented on #283
Thank you for the help! @fbragman  and sorry I didn't make my question clear but I've solved the problem now. Thanks!

[2018-11-14 17:27] Yushen12sigma opened #287 "2d U-net on 3D nii CT data"
Hi, Niftynet team,

I'm trying to train a 2D unet with every single slice of a 3D CT scan.

According to your instruction,
https://niftynet.readthedocs.io/en/dev/window_sizes.html
"setting spatial_window_size = (h, w, 1) will generate a 2.5D windows, "

but in the instruction of configuration file
https://niftynet.readthedocs.io/en/dev/config_spec.html
"Array of three integers specifies the input

[2018-11-18 06:58] #283 closed, assigned to nobody

[2018-11-19 23:13] YilinLiu97 opened #288 "where in the codes that patches are stitched?"
Hi, I'm wondering where can I find the codes for reconstructing the volume from patches? Thanks.

[2018-11-20 15:44] C-nit opened #289 "Evaluation doesn't consider save_seg_dir of Inference and compares lables to labels"
## Documentation lacking
While I was able to understand training and inference actions from the [configuration file documentation](https://niftynet.readthedocs.io/en/dev/config_spec.html#overview), the evaluation action was less clear. For starters, it's not mentioned in the overview.

Intuitively, I'd expect the evaluation to either
1. run inference as configured (maybe without creating inference

[2018-11-23 05:12] jchen42703 commented on #288
Hi,
The code for reconstructing patches is located in [ `/niftynet/engine`](https://github.com/NifTK/NiftyNet/tree/dev/niftynet/engine). They are the `windows_aggregator_`'s .
i.e. [`windows_aggregator_base.py`](https://github.com/NifTK/NiftyNet/blob/dev/niftynet/engine/windows_aggregator_base.py)

From,
Joseph

[2018-11-26 08:17] chengjianhong opened #292 "How to create new network"
Hello, I want to create new network and I also see the documentation that allows users create new network. But I don't know how to associate the **network name** in config file and my **customized network** ?

[2018-11-26 16:27] C-nit commented on #292
In the [documentation](https://niftynet.readthedocs.io/en/dev/extending_net.html#call-newnet-from-application) it's shown how to make NiftyNet find your new network and the example shows how to use it on the command line:
`--name my_network_collection.new_net.NewNet`

I guess you didn't find the paragraph [overriding-the-arguments](https://niftynet.readthedocs.io/en/dev/config_spec.html#overriding

[2018-11-27 13:11] chengjianhong commented on #292
Yes, I Know. Thank you very much!

[2018-11-27 13:16] #292 closed, assigned to nobody

[2018-11-27 13:30] chengjianhong opened #294 "How to print out dice scores during training?"
Hello, I want to print out the dice scores during training. But I can't find the print statement and I don't know how to do?

[2018-11-28 11:46] LucasFidon commented on #280
To my understanding, Instance Normalization is a special case of Group Normalization when group_size is equal to 1. So one can already use Instance Normalization in the current setting.

On this line, maybe the class InstanceNormLayer in niftynet.layer.bn could be removed or at least marked as deprecated.

I agree the flags could be made more clear though.

[2018-11-28 22:36] #288 closed, assigned to nobody

[2018-11-30 00:27] zheng-xing commented on #294
Hi @chengjianhong ,

You can add a line in the source code after calculating the dice_score.

For example,
[code]

The tf.Print just add a printing node in the graph and does not change the values of the variable.

[2018-12-04 14:36] chengjianhong commented on #294
Thank you! I do as your saying and the print is as follow. But I can't understand what is meaning about '[dice_score]' ?

[2018-12-04 15:11] zheng-xing commented on #294
Any variables in the "[]" will be printed. You can print more than one variables if you want.

[2018-12-04 20:12] fepegar opened #295 "Inconsistent docs about custom networks"
Wrong step (and link): https://github.com/NifTK/NiftyNet/tree/dev/niftynet/network#step-2

Correct step: https://niftynet.readthedocs.io/en/dev/extending_net.html#make-the-module-loadable

Also, I think it's not clear how to figure out the value of `NIFTYNET_HOME`.

@Zach-ER, the correct default folder was `~/niftynet/extensions`.

[2018-12-05 01:41] chengjianhong commented on #294
Thank you very much. I hava another question. Can you tell me where is the print ststement as follows in niftynet during training?

[2018-12-05 13:45] chengjianhong commented on #276
Dear Zach-ER,
I also need to print the Dice Scores When I use the ScaleNet architecture  for segmenting brain tumor. and I find the print statement as your above said. But I don't know  how to compute the dice score at here?

[2018-12-07 02:08] zheng-xing commented on #294
Wow I was not finding this easy.
Maybe someone else can pointing the right location to us?

[2018-12-07 02:18] chengjianhong commented on #294
I find it in `segmentation_application.py` , the print statement is like as follows:

And do you know what is the means about the `tf.reduce_mean(image)` ?

[2018-12-07 02:53] zheng-xing commented on #294
Yeah I found this too. But I'm not sure about the need to visualize tf.reduce_mean(image).

[2018-12-07 08:51] kye9216789 opened #296 "DenseVnet Dice loss remains and does not fall"
Hi
Thank you to open your novel framework.
I used 3D DenseVnet to predict CT image label.
And before use my data, I tested your organ model and data.
But the **Dice-hinge loss remains** over 0.22
After I changed data to my one, also the loss remains specific value, near 0.5
I used only one data to overfit the network.
network is same with you, and I did not modified structure.

I used every parame

[2018-12-09 03:57] huangmozhilv opened #297 "dice_plus_xent_loss seems to be different from that of no-new Net"
According to no-new Net, each u should be powered by k, ![image](https://user-images.githubusercontent.com/26662685/49693283-69ed3c00-fba9-11e8-80d8-668c9ae573e8.png)however, this step is not implemented in your version (`def dice_plus_xent_loss` in `loss_segmentation.py`).

[2018-12-10 02:46] shieldlance opened #298 "problem about 3dhighresnet"
I'm using niftynet to do some work about heart CT segmentation. And i used highres3d_net. The training was perfect. However when I applied the trained network to some new images，the output was terrible. one image used for training is illustrated in [1], and its output in[2]. the new image is in[3],and the output [4].
How should I do to get an accurate result?
Any help would be appreciated.
   [ima

[2018-12-10 11:22] Zach-ER commented on #297
In the `layer_op` of `class LossFunction`, there is a `reduce_mean` taken over the `loss_batch`. This divides by `|K|`, because `K` is the number of classes. I think this accounts for the `|K|` in the denominator.

[2018-12-10 14:01] snikan-ai opened #299 "Wasserstein IndexError (index out of bounds)"

[2018-12-10 14:41] #299 closed, assigned to nobody

[2018-12-12 02:15] whikwon commented on #296
Same issue occurs

[2018-12-12 15:58] huangmozhilv commented on #297
Yes, that's right. But besides, I think u_i should be powered by k in both the numerator and denominator, some code like `tf.pow(u_i, k)`.

[2018-12-12 16:01] Zach-ER commented on #297
No, I think this `k` just denotes that the probability is for the `k`th class. Otherwise your loss function would depend on the order which you assign to segmentation labels (i.e. it would be different if background was 0 and foreground was 1 to if it was background: 1, foreground:0) which should not be the case.

[2018-12-12 16:03] huangmozhilv commented on #297
If you are right, I think k should be subscript.

[2018-12-13 15:20] Zach-ER opened #300 "Allow weighted loss for Dice plus XEnt"
There is not weighted loss for Dice Plus Xent yet.

[2018-12-14 02:35] huangmozhilv commented on #297
Hi @Zach-ER , I contacted the author of nnU-Net. Yes, you are right.

[2018-12-17 11:32] #297 closed, assigned to nobody

[2018-12-18 17:42] #179 closed

[2018-12-18 17:43] wyli commented on #300
fixed by https://github.com/NifTK/NiftyNet/commit/a5ba23c0b86a16242a524aded55d40836ab8dfb1.

[2018-12-18 17:43] #300 closed, assigned to Zach-ER

[2018-12-19 16:09] #295 closed, assigned to nobody

[2018-12-19 17:14] Zach-ER commented on #298
Are the images from the same machines? I.e. is the test data acquired in the same way as the training data?

[2019-01-03 15:07] fepegar commented on #277
Hi @qianjiangcn

The constraints in my tutorial are general, about the original implementation of U-Net. I have added a cell about NiftyNet's implementation.

[2019-01-09 06:20] FarheenRamzan commented on #296
Same issue.

[2019-01-09 06:22] Farihaa commented on #296
Same issue.

[2019-01-11 01:56] zheng-xing commented on #294
I found the location formatting these print statements.
They are in engine/application_iteration.py
where you can find variable "CONSOLE_FORMAT" and "to_console_string" function.

[2019-01-11 02:46] chengjianhong commented on #294
Sorry, I can't find it.

[2019-01-16 20:44] tvercaut opened #307 "Need to populate list of ideas for GSoC 2019"
I create a stub wiki page that now needs to be populated: https://github.com/NifTK/NiftyNet/wiki/Google-Summer-of-Code-(GSoC)-2019-Ideas-List

Feel free to use this issue to jot down rough ideas. We can then consolidate these on the wiki.

[2019-01-17 11:03] tvercaut commented on #307
Random topics:
- Federated learning (e.g. https://github.com/tensorflow/privacy, https://github.com/OpenMined/PySyft)
- NiftyNet module API to integrate in larger software (see #124)
- Bridge `tf.hub` with the model zoo (see also #254)
- video support
- NLP+images
- CUDA optimisation for resampling, CRF-as-RNN (see also #239)
- gradient checkpointing integration (see also #325 and https://github.c

[2019-01-17 11:06] tvercaut commented on #124
For ease of reference, I am copy-pasting the content of https://cmiclab.cs.ucl.ac.uk/CMIC/NiftyNet/issues/240 here.

Using NiftyNet as a module
--
It is currently not trivial to run NiftyNet as part of a separate python script. It would be nice to have an alternative to `run_application()` that let you do the following:

[code]
This would enable NN to be used more easily in complex pipelines, and

[2019-01-17 11:46] wyli commented on #307
- XNAT support (see also https://github.com/NifTK/NiftyNet/issues/183 https://github.com/NifTK/NiftyNet/issues/184)
- Fully automated Cross-validation hyper-parameter selection

[2019-01-17 15:45] somsol commented on #124
Does it mean that you're still working on this?  Please let me know when you get there. Thanks

[2019-01-18 11:37] kmouts opened #308 "Cuda 9.0 requirement"
Hello,

I try to install NiftyNet on Windows 10 64bit and Anaconda.
With the command:

I get:

However, I have installed CUDA 10. Is it possible to continue with the newer CUDA?

[2019-01-20 17:23] YipengHu commented on #307
- Links inference to OpenIGTLink, 3D Slicer, IGSTk and/or Plus Toolkit

[2019-01-23 11:27] tvercaut commented on #307
@YipengHu: sounds great. This can be bundled with the video support. Would you be happy to act as a mentor if we get someone onboard? If so, would you mind writing a short project description for it on the [wiki](https://github.com/NifTK/NiftyNet/wiki/Google-Summer-of-Code-(GSoC)-2019-Ideas-List)? Note the deadline for the full application (February 6, 2019 at 20:00 (GMT)).

[2019-01-23 23:14] tvercaut commented on #307
@wyli If you are happy to act as a mentor in case we get a student, can you pick an idea you would be interested to mentor and write a short description for it on the wiki?

[2019-01-23 23:49] YipengHu commented on #307
Definitely interested. I could not find any details for this though. Link to requirement for the project proposal?

[2019-01-24 10:28] wyli commented on #307
some guides here: https://google.github.io/gsocguides/mentor/defining-a-project-ideas-list

[2019-01-24 12:08] tvercaut commented on #307
Brilliant. As far as I can see, there is no formal way for specific project proposals. You can look at a couple of examples coming from other organisation for last year's GSoC:
- https://github.com/CGAL/cgal/wiki/Project-Ideas
- https://github.com/osrf/osrf_wiki/wiki/GSoC18
- https://github.com/sympy/sympy/wiki/GSoC-2018-Ideas
- http://slam6d.sourceforge.net/wishlist.html

[2019-01-25 14:46] wyli opened #311 "default value of `use_local_stats` in batch norm layer"
It seems that in many window-based segmentation/regression use cases, either setting`is_training=True` or setting `use_local_stats=True` in the [batch normalisation layer](https://github.com/NifTK/NiftyNet/blob/v0.4.0/niftynet/layer/bn.py#L79) at inference time leads to better performance than those with NiftyNet's default batch norm options.

Therefore this ticket proposes to add a `use_local_sta

[2019-01-26 01:52] yuanpeng5 opened #312 "Classification application cannot run through mnist dataset"
I have already tried "**Segmentation**" application, and everything works fine.
Now I am trying to run **"Classification"** application with with mnist dataset as a test.
I have generate all image files as 28x28x1 png files and label files as 1x1x1 png files
but after " INFO:niftynet: Parameters from random initialisations ... "

### It keeps give me the following error:
[code]
It looks like somet

[2019-01-29 01:17] yuanpeng5 commented on #312
I found the reason, it seems in niftynet
[code]
It is required that input numpy array dtype must be the same as output numpy array dtype.
So if we use png file as input numpy array, the output numpy array is required to be int32.
So we can just change the input numpy array dtype to float64, the problem would be solved.

[2019-01-29 01:18] #312 closed, assigned to nobody

[2019-01-29 08:57] wyli commented on #312
thanks for tracking this down @yuanpeng5, the reader infers dtypes by https://github.com/NifTK/NiftyNet/blob/v0.4.0/niftynet/io/misc_io.py#L59-L88
so, perphaps setting `interp_order` of `[image]` section in the config to 0 or 1 would resolve this issue? please let me know if this is not the case.

[2019-01-29 18:52] #236 closed, assigned to nobody

[2019-01-30 11:26] JunMa11 commented on #312
Hi, @yuanpeng5. I alwo want to try the classification application.
My label file is a csv file with the following format

|filename|label|
| --- | --- |
|img-1.nii|1|
|img-2.nii|0|
|img-3.nii|1|
|img-4.nii|0|
...

could you tell me how to map this label file to the input data in the niftynet?

[2019-01-30 16:34] tvercaut commented on #307
As discussed with @atbenmurray:
- Make NiftyNet's model zoo more accessible to user. Relevant pointers for this task:
   - Integrating with Slicer using DeepInfer: http://www.deepinfer.org
   - Cloud serving with TOMAAT https://github.com/faustomilletari/TOMAAT
   - Might be good to have a look at http://modelhub.ai
   - Would be great to make use of TF serving https://www.tensorflow.org/serving/

[2019-01-31 08:46] tvercaut commented on #307
Would be nice to:
- Start the transition to the TF 2.0 API: https://www.tensorflow.org/versions/r2.0/api_docs/python/tf

[2019-01-31 09:05] atbenmurray commented on #307
*First attempt at writing a 'sales pitch' for the proposed activity*
**Making it easier to write new applications for the model zoo**
Niftynet is a powerful deep learning suite for the medical imaging field; we want to build on its success so far making it even easier to develop cutting-edge models and deploy them to the Model Zoo. Niftynet provides you with a suite of tools that help you develop

[2019-01-31 09:13] atbenmurray commented on #307
*Also quite sales pitchy*
**Integrating Niftynet into Slicer**
3D Slicer is a powerful open source tool for medical imaging informatics, image processing and 3D visualisation. It has a plugin architecture that allows integration of applications into Slicer and Slicer into applications, and our goal is to integrate Niftynet into Slicer so that Slicer can be used as the front end of a deep learning

[2019-02-04 16:09] tvercaut commented on #307
Thanks @atbenmurray, this looks good. Don't forget to update the wiki page today or tomorrow (i.e. before the deadline).

[2019-02-04 18:09] atbenmurray commented on #307
Will do this ev
Ben

On Mon, 4 Feb 2019, 17:09 Tom Vercauteren <notifications@github.com wrote:

[2019-02-04 19:44] atbenmurray commented on #307
If you mean this link
https://github.com/NifTK/NiftyNet/wiki/Google-Summer-of-Code-(GSoC)-2019-Ideas-List
I don't appear to have edit permissions.

On Mon, 4 Feb 2019 at 18:08, Ben Murray <ben.murray@gmail.com> wrote:

[2019-02-04 19:53] atbenmurray commented on #307
I currently don't have permission to edit the wiki. I'm off this week; happy to edit the wiki this evening or tomorrow evening, but if that is too late, then can you just add them in with Medium, benjamin murray at kcl.ac.uk?

[2019-02-04 19:55] wyli commented on #307
adding you to the admin team @atbenmurray

[2019-02-04 20:14] atbenmurray commented on #307
Done! Hopefully is in right format and good.

[2019-02-11 14:43] anlarro opened #320 "Include image registration"
Most deep learning problems that we can solve with NiftyNet require that images are previously registered. I think that setting a registration option in the configuration file can be included in the pipeline.

[2019-02-11 14:46] anlarro commented on #320
Most deep learning problems that we can solve with NiftyNet require that images are previously registered. I think that setting a registration option in the configuration file can be included in the pipeline.

[2019-02-13 05:56] AkhilaPerumalla123 commented on #37
I am getting below error

**INFO:niftynet: stopping sampling threads
Traceback (most recent call last):
  File "/usr/local/lib/python3.5/dist-packages/tensorflow/python/client/session.py", line 1334, in _do_call
    return fn(*args)
  File "/usr/local/lib/python3.5/dist-packages/tensorflow/python/client/session.py", line 1319, in _run_fn
    options, feed_dict, fetch_list, target_list, run_metadat

[2019-02-13 08:23] AkhilaPerumalla123 opened #321 "Transfer learning using Niftynet pretrained weights."
I want to use niftynet pretrained segmentation model for segmenting custom data. I downloaded the pre trained weights and and modified model_dir path to downloaded one.
However when I run, I am getting the error below.
`Caused by op 'save/Assign_17', defined at:
    File "net_segment.py", line 8, in <module>
      sys.exit(main())
    File "/home/NiftyNet/niftynet/__init__.py", line 142, in main

[2019-02-13 08:31] AkhilaPerumalla123 commented on #254
@johnnychhsu
I want to use niftynet pretrained segmentation model for segmenting custom data. I downloaded the pre trained weights and and modified model_dir path to downloaded one.
However when I run
**python3 net_segment.py train -c /home/Container_data/config/promise12_demo_train_config.ini**
I am getting the error below.
`Caused by op 'save/Assign_17', defined at:
    File "net_segment.py", li

[2019-02-13 19:05] alekswithakayy commented on #254
Your custom data doesn't seem to be the same dimension as the data the network was trained on.

`Restoring from checkpoint failed. This is most likely due to a mismatch between the current graph and the graph from the checkpoint. Please ensure that you have not altered the graph expected based on the checkpoint. Original error: Assign requires shapes of both tensors to match. lhs shape= [3,3,61,25

[2019-02-14 00:09] fepegar opened #322 "Add option to perform isotropic scaling"
I think it would be useful to add an option so that the same random scaling is applied to all dimensions. I can work on it.

[2019-02-14 02:26] AkhilaPerumalla123 opened #323 "Pixelated output using densevnet"
I am using segmentation application on custom data. The Output generated for me is pixelated.
![capture](https://user-images.githubusercontent.com/46365680/52758356-40d6a500-304b-11e9-9113-f1e5297e3254.JPG).
Can you please let me know how to get rid of this?

[2019-02-15 18:24] tvercaut opened #325 "Allow using gradient checkpointing"
As per discussion with @stian-johnsen, it might be relatively simple to allow the use of gradient checkpointing in NiftyNet.

This could be made into an option in the config file to expose the option to the user.

Relevant link:
- https://github.com/openai/gradient-checkpointing

[2019-02-18 14:01] Zach-ER commented on #322
Maybe I don't understand, but isn't this what the `zoom` preprocessing option does?

[2019-02-18 14:09] fepegar commented on #322
I forgot to mention this issue in the corresponding PR: https://github.com/NifTK/NiftyNet/pull/324

What's the `zoom` preprocessing option? Can you point me to some code/docs?

[2019-02-18 15:03] fepegar commented on #322
@Zach-ER, in the previous implementation, different scaling percentages were computed for different dimensions. This could make a prostate look like a sausage and would probably be undesired. The new flag is to make sure that a similarity transform is applied to the volume, with a single scaling factor for all axes.

[2019-02-25 20:28] tvercaut commented on #307
Unfortunately, our application to GSoC was not successful. I am thus closing this issue.

[2019-02-25 20:28] #307 closed, assigned to nobody

[2019-02-25 23:52] #322 closed, assigned to nobody

[2019-02-27 01:39] yuanpeng5 opened #326 "cannot share and inference niftynet trained model"
I am trying to deploy niftynet trained model in tensorflow serving. But I have encountered the following problems:
(1) I cannot freeze the model with freeze_graph.py provided in tensorflow.
(2) It is really hard to find the input tensors name and output tensors name in the graph.
Is there anyway I can easily freeze niftynet trained model and deploy it? Right now I can only evaluate the trained mod

[2019-03-01 20:40] yuanpeng5 commented on #312
@EdwardMa12593 Sorry, I didn't see this, but just in case you still need this, you can name your images files as,

1-img.nii
2-img.nii
...

 and generate label files as
1-label.tiff
2-label.tiff
...

and in your .ini config specify

[img]
filename_contains = img

[label]
filename_contains = label

NiftyNet should generate the .csv file automatically, or you can write your own .csv files and use th

[2019-03-01 20:44] yuanpeng5 commented on #312
@wyli  Yes, I think you are right, this should also fix the problem, I didn't find that part of code before.

[2019-03-01 20:47] JunMa11 commented on #312
@yuanpeng5 Get it. Thanks for your help very much.

[2019-03-01 22:09] tobon opened #327 "Extending model zoo utilization through tensorflow API"
First of all, thank you for all your great work on NiftyNet! I would love to use some of the trained models in the model zoo in a non-python environment (cross-platform C++ application in my case). In trying to reverse engineer the model structure, I noticed that the models seem to be stored as tensorflow checkpoints. My understanding is that I cannot load these back directly through C++ API, and

[2019-03-01 22:35] yuanpeng5 commented on #326
Updates:
I have managed to find the network input and output tensor names:
[code]
But when I use these two tensors as input and output tensor, the network crashed during inference with error:

[code]
@wyli Any idea?
Is it because the ckpt didn't stored  pyfunc_0 into it? How could NiftyNet itself can run through it?

[2019-03-02 17:30] wyli commented on #326
Hi @yuanpeng5 have you looked at this example? https://github.com/NifTK/NiftyNet/issues/254#issuecomment-431793018 which still requires niftynet's IO though.

[2019-03-03 03:14] 1160914483 commented on #287
Hello, have you solved the problem?

[2019-03-04 01:17] 1160914483 commented on #260
Hello, I have encountered the following problems when running Unet_2D:

Valueerror: Negative dimension size caused by subtracting 3 from 2 for 'worker_0/UNet2D/TwoConv_5/conv_prelu/conv_/conv'(op:'conv2D') with input shape: [1, 2, 2, 1024], [3, 3 , 1024, 512]

Have you encountered the same reason?

[2019-03-04 07:29] wyli commented on #260
Looks like your input window size is too small to use unet, check out this:https://github.com/NifTK/NiftyNet/blob/dev/demos/unet/U-Net_Demo.ipynb

On 4 Mar 2019, at 01:18, 1160914483 <notifications@github.com<mailto:notifications@github.com>> wrote:

Hello, I have encountered the following problems when running Unet_2D:

Valueerror: Negative dimension size caused by subtracting 3 from 2 for 'worke

[2019-03-05 15:20] 1160914483 commented on #260
Thank you for your reply, I solved this problem with your suggestion.

But I have another problem that I can't solve.When I was running 2D_Unet, the LOSS value could not be lowered and it was stable around 0.75.(My data size is (240, 240, 155)

The following is my configuration file parameters, and I very much hope that you can give a way to solve this problem.

[T1]
path_to_search = ../Brats17tra

[2019-03-05 20:01] yuanpeng5 commented on #326
@wyli thanks a lot I will try that, btw I found that there is a merge tensor that merge all the workers tensor together, and that is exactly the one that causing trouble at the inference time. If skip that one and use the merged tensor as the input tensor, everything works fine now.

[2019-03-05 20:07] wyli commented on #326
@yuanpeng5 cool, could you give more details of this inference model deployment? could be a generic feature to have in the upstream. thanks!

[2019-03-05 22:26] fepegar commented on #128
As a reference, here's some theoretical justification from @faustomilletari, thesis (page number 72):
https://mediatum.ub.tum.de/doc/1395260/1395260.pdf

[2019-03-06 02:22] 1160914483 commented on #260
@wyli   Thank you for your reply, I solved this problem with your suggestion.

But I have another problem that I can't solve.When I was running 2D_Unet, the LOSS value could not be lowered and it was stable around 0.75.(My data size is (240, 240, 155)

The following is my configuration file parameters, and I very much hope that you can give a way to solve this problem.

[T1]
path_to_search = ../Br

[2019-03-08 16:36] JunMa11 opened #329 "Bug on Rotation augmentation"
Thanks for the excellent project. It helped me a lot for my research.

I'd like to augment the training data off-line following the [ImageReader example](https://github.com/NifTK/NiftyNet/blob/dev/demos/module_examples/ImageReader.ipynb).

However, the augmentation results are degenerated.
Following is the code that I used.

[code]

Augmentation results have two main errors.
1) The image is missed

[2019-03-08 16:45] enochkan opened #330 "How Do I Run a Simple GAN without any conditioning?"
How Do I Run a Simple GAN without any conditioning?

I have downloaded the source code and ran net_gan, which uses gan_application.py and obtained the following error:

CRITICAL:niftynet: Reader requires task input keywords ('conditioning',), but not exist in the config file.
Available task keywords: ['noise_size', 'image', 'n_interpolations', 'conditioning', 'name']
Traceback (most recent call la

[2019-03-09 09:57] SouthMemory opened #331 "Classification using resnet cannot run through cifar10 dataset"
I have generate all image files as 28x28x3 .nrrd files and label files as 1x1x1 .nrrd files

There seem to be something wrong with the way I prepare the labels
Please help me if anyone knows how to fix this.

**error:**
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/ops.py", line 1576, in _create_c_op
    c_op = c_api.TF_FinishOperatio

[2019-03-10 13:47] wyli commented on #329
Hi @EdwardMa12593 glad to know that. For your first issue, what would be the expected results in your mind? for the second, I think the label's interpolation order should be zero, could you confirm that?

[2019-03-11 21:47] kanxx030 commented on #238
@EdwardMa12593 did you figure out the root cause of this issue? I'm running into the same issue with num_threads =2

[2019-03-20 15:59] mariamhrr opened #332 "Cannot perform evaluation over PROMISE12 dataset"
Hello, I have trained my segmentation network over the PROMISE12 dataset using the dense_vnet, but when I try to perform evaluation between the PROMISE12 groundtruth and my inferred volumes there appears this error:

  File "C:\Users\NiftyNet\niftynet\evaluation\segmentation_evaluations.py", line 160, in metric_from_binarized
    conf_mat = np.array([[np.sum(land(lnot(seg), lnot(ref))),
**ValueErr

[2019-03-20 21:36] shanpriya3 commented on #332
I am facing the same issue with 3D Unet for two class segmentation. Could someone help? Thanks!

[2019-03-20 21:53] shanpriya3 commented on #332
Here is my configuration file:

############################ input configuration sections
[ct]
path_to_search = ./data/ct/
filename_contains = CT
spatial_window_size = (96, 96, 96)
pixdim = (1.0, 1.0, 1.0)
interp_order = 3
axcodes=(A, R, S)

[seg]
csv_file = ./models/unetH/segmentation_output/inference/inferred.csv
path_to_search = ./models/unetH/segmentation_output/inference
filename_contains = n

[2019-03-22 09:28] shanpriya3 commented on #332
Hello, Any update on this issue?

[2019-03-25 22:55] kwang-greenhand opened #333 "Self-generated data split file doesn't work properly"
I was trying to use self-generated data split files to define train/valid/inference set, however, I had some very weird problems. The toolbox cannot find the subjects whose ID is smaller than 100. Let's say I have in total 174 subjects, but in the dataset_split file I only included 70, among which 43 has ID larger than 100.
1. When loading the dataset, the number of subjects is displayed correctly

[2019-03-26 00:46] kwang-greenhand commented on #333
Follow-up:

Even more weird stuff:  This time I didn't make my new csv files. Instead, from the csv generated by the toolbox, I modified it, assigned first 1/10 subjects as inference and left as training, then did inference with "training". Still, the toolbox can only find IDs larger than 100!

I'm totally confused and out of solution. I guess there is a bug here.

[2019-03-29 17:07] stian-johnsen commented on #325
On a technical level, the integration is indeed quite simple. However, in practice, the module is of very limited use since automatic checkpoint extraction failed for me on all complex networks I tried, and only worked on the module authors' test networks. Manual checkpoint specification would be an option, but seeing how individual Tensorflow operations must be specified, I very much doubt it wou

[2019-04-01 10:10] stian-johnsen commented on #325
An FAQ summarising the issues with gradient checkpointing in NiftyNet has been made here: https://github.com/NifTK/NiftyNet/wiki/NiftyNet-FAQ#using-niftynet-with-gradient-checkpointing

[2019-04-01 10:10] #325 closed, assigned to nobody

[2019-04-01 10:24] stian-johnsen commented on #239
A NiftyReg-based solution to this issue can be found in the following pull request: https://github.com/NifTK/NiftyNet/pull/334

[2019-04-04 13:29] guigaut commented on #326
Hi, first thanks a lot for niftynet framework. I would like to deploy niftynet trained model in tensorflow serving. I used the freeze_graph function to freeze model and weights in a pb file (need to know the output node names) and train on only one GPU (with multiple GPUs can try multiple  --output_node_names out1, out2 ). The model works fine, but the tensor input shape is fixed by NiftyNet BaseA

[2019-04-10 12:19] skaliy opened #335 "Restore frozen layers"
I am trying to restore frozen layers, as explained in the transfer_learning.md, but I'm getting
`ValueError: No variables to optimize`.
Any solutions for this?

Here is a snippet of my current config file:

**[NETWORK]**
window_sampling = weighted

name = highres3dnet
activation_function = leakyrelu
batch_size = 1
decay = 0.0
reg_type = L2
queue_length = 36
normalisation = False
whitening = True
f

[2019-04-10 13:41] stian-johnsen commented on #281
A possible implementation of this can be found in https://github.com/NifTK/NiftyNet/pull/336

[2019-04-11 08:25] stian-johnsen commented on #244
This was done and merged here: https://github.com/NifTK/NiftyNet/commit/902ca44ffb2e4f059bded511d0b2ddd26ed862d9

[2019-04-11 08:25] #244 closed, assigned to nobody

[2019-04-11 11:12] #281 closed, assigned to nobody

[2019-04-11 14:49] stian-johnsen commented on #143
A very basic solution to this may be available in the PR https://github.com/NifTK/NiftyNet/pull/337

[2019-04-11 18:46] #143 closed

[2019-04-12 19:34] zsdqui opened #339 "Dice_Dense input inconsistent with remaining segmentation loss functions"
The dice_dense and dice_dense_nosquare functions in the loss._segmentation.py file seem inconsistent with the remainder of the loss functions in that they assume a one_hot encoded ground_truth. The remainder of the loss functions use categorical designations for the ground_truth input and then convert to one-hot encoding using the labels_to_one_hot function.

For instance using dice_dense or dice_

[2019-04-17 16:28] danieltudosiu opened #340 "Feature request: Fully Connected Weight Tying"
**This issue is to track progress on new features for the Fully Connected Weight Tying**

At the moment there is no clean way of tying the weights of two Fully Connected layers. One must define them manually to be able to do so. The solution would be the ability to instantiate a Fully Connected layer given a Tensorflow variable for its weights.

- [ ] Extend the Fully Connected layer to have the o

[2019-04-18 12:39] stian-johnsen commented on #279
I have implemented the sub-pixel net in PR https://github.com/NifTK/NiftyNet/pull/341.
The network is rather tricky to train, and training and inference require a separate driver script, since to the best of my knowledge NiftyNet cannot handle applications where the output image geometry differs from the input image geometry by an essentially random factor.
Also, the outputs are rather noisier tha

[2019-04-22 17:27] JunMa11 commented on #329
Dear @wyli ,
I'm so sorry for the late reply.

I do the rotation augmentation for Brats18 data by `niftynet`.
Following your guidance,  I set the label's interpolation order as `0`, but **one label value missed in the label augmentation result**.

I also test another data augmentation tool [batchgenerators](https://github.com/MIC-DKFZ/batchgenerators), the image augmentation result is similar to n

[2019-04-23 09:52] danieltudosiu opened #342 "Feature request: Gradient clipping embedded in the applications"
**This issue is to track progress on new features for embedding gradient clipping into the base application**

At the moment if somebody wants to do gradient clipping they need to modify each application. The solution is to create a new method in the base application that is being called to processes the gradient before they are being applied.

- [ ]  Extend the base application with a process_gra

[2019-04-23 09:57] elitap opened #343 "Incorrect Header Readout from *.nrrd Images using scikit-image 0.15"
I was using the same code on two different machines, one having installed scikit-image 0.14.2 and the other 0.15.
It seams that since version 0.15 scikit-image is able to read *.nrrd images, however it does not correctly read the meta information, which leads to wrong image dimensions. On the other machine using scikit-image 0.14.2 the loader faild to load the *.nrrd image and the next loader 'Sim

[2019-04-29 13:11] wyli commented on #329
Your augmentation code looks ok, so what's your expected output?
could check your `aug_img['label']` before saving:
[code]

[2019-04-29 20:32] JunMa11 commented on #329
Hi @wyli ,

I'm very appreciated with your help.
The orginal label is 4 classes, so my expeted label output should also have 4 classes, but I only find 3 classes when opening label by itk-snap.

**Following your guidance, I find the cause of the label error.**

The code is ok, the reason for my previous label error is the `dtype` of aug_img['label']. `aug_img['label'].dtype` is `float32`, I need t

[2019-04-29 20:32] #329 closed, assigned to nobody

[2019-04-30 11:24] #279 closed, assigned to nobody

[2019-04-30 15:13] stian-johnsen opened #346 "Refactoring of image I/O to accept data from memory and output to memory"
This is a subtask of ticket https://github.com/NifTK/NiftyNet/issues/124:
NiftyNet currently can only read images from the F/S and write results to the F/S. In order to make NiftyNet truly useful as a module in 3rd party code, it should be modified such that it can also accept images from memory and write to memory. To this end, this ticket proposes to generalise niftynet.io.image_reader.ImageRead

[2019-05-03 10:43] danieltudosiu commented on #84
You need to create another input and name for example Weights and then pass that input (which can be found in the data_dict parameter of segmentation application to the loss function as a variable for the parameter weight_map.

[2019-05-03 11:39] wyli commented on #343
Hi @elitap I think you could add [`loader = simpleitk`](https://niftynet.readthedocs.io/en/dev/config_spec.html#loader) to your config's input data sections.

Also, we might change [the order of the loader's attempts](https://github.com/NifTK/NiftyNet/blob/dev/niftynet/io/image_loader.py#L121) -- prefer simpleitk if it's installed. I'll double-check that.

[2019-05-03 12:17] wyli commented on #335
Hi @skaliy probably you need to set a `vars_to_freeze` in `[TRAINING]` as well, by default `vars_to_freeze` uses the value of `vars_to_restore` (i.e. restored variables will not change during training).
https://niftynet.readthedocs.io/en/dev/transfer_learning.html#freezing-model-weights

[2019-05-04 14:57] #262 closed, assigned to nobody

[2019-05-05 17:57] Farihaa commented on #276
So I solved this issue for myself a few months ago. I saved the terminal- log files and parsed dice scores from them. Then I saved these parsed files as excel files and made any kind of graph that I wanted to make. I could not make individual dice score graphs within niftynet framework.

[2019-05-11 09:28] YilinLiu97 commented on #17
Hi@wyli, with the cropped version, the border has to be specified to 44, which makes the inference too long and results in bad performance. Do you have any suggestion on this? Thank you.

[2019-05-20 08:22] KathrynSch commented on #296
Same issue

[2019-05-22 08:45] KathrynSch opened #350 "Loss stuck in DenseVnet training"
Hi,
I am trying to train the dense_vnet network on my own dataset (30 abdominal CT scans fro liver segmentation).
The loss (dice_hinge.dice) got stuck at 0.24 after 1000 iteration and kept oscillating around that mean value for another 1000 iterations before I interrupted it.
I then tried to overfit on a single sample (as a sanity check of the network). Same thing happened: stuck around 0.23 after

[2019-05-23 15:50] mmodat commented on #48
@tvercaut @mjorgecardoso What are we doing here? It has been open for 1 year and no action. Closing for now?

[2019-05-23 16:00] mmodat commented on #47
@wyli Did you have a look at this after re-opening it at the time? Is it an on-going issue or could this ticket be closed? Cheers!

[2019-05-23 16:03] mmodat commented on #68
@yenhochen Apologies for the "belated" answer. You can export them to tensorboard should you want to.
Closing this issue as it has been addressed by merge 261 addressing #242.

[2019-05-23 16:03] #68 closed

[2019-05-23 16:04] #84 closed

[2019-05-23 16:08] mmodat commented on #88
In the deepmedic framework, the two paths must end with patches of similar spatial sizes. By using the "VALID" option in the convolution layer, adding new layers will break this consistency. You have to calculate the required initial patch size (and associated number of layers) to make this possible.

[2019-05-23 16:10] mmodat commented on #89
@mjorgecardoso Looks like this ticket can be closed. Could you confirm and do it?

[2019-05-23 16:17] mmodat commented on #97
Should it actually be changed from
```Copyright 2017 University College London and the NiftyNet Contributors.```
to
[code]
@wyli Do you remember what was the rationale for the change you made?

[2019-05-23 16:25] mmodat commented on #116
Not sure what is meant by print but should it help you can visualise the activation maps as scalar images in tensorboard using the image summary as defined here https://github.com/NifTK/NiftyNet/blob/0f0d73670ac5e9892619004da3108deacecc75c7/niftynet/engine/application_variables.py#L20

[2019-05-23 16:25] #116 closed

[2019-05-23 16:28] mmodat commented on #122
@wyli @xygorn - Any suggestion as you both contributed to the file that contains this sampler.

[2019-05-23 16:29] #128 closed

[2019-05-23 16:31] mmodat commented on #139
@tomvars Want to take this one? 😄

[2019-05-23 16:36] Sandv commented on #47
It still was relatively slow. But if other people don't complain I guess it
is some local issue and it would be ok to close...
thank you very much!
Veit

On Thu, May 23, 2019 at 12:00 PM Marc Modat <notifications@github.com>
wrote:

[2019-05-23 16:44] tvercaut commented on #48
@mmodat No, this is still open.

[2019-05-23 17:52] ericspod commented on #37
This appears to be caused by creating a network based on data with a different dimensionality than the one being loaded from the checkpoint. If you want to train on a 2D dataset the weights of some convolution would have a 4D dimension (ie. shape= [3,3,61,256])  whereas those being loaded from the zoo would have 5D (ie. shape= [3,3,3,61,9]).

[2019-05-23 18:30] ericspod commented on #36
The `load_image` function is use in `image_type.py` ultimately in the implementation of `ImageFactory`. This is used eventually by `ImageReader` in `image_reader.py` which does the actual work of loading images and creating the image dictionary passed onto the network. In the application definitions `ImageReader` is instantiated for each set of input and stored in `self.readers`.

[2019-05-23 18:30] #36 closed

[2019-05-23 18:31] #335 closed, assigned to nobody

[2019-05-23 18:47] #263 closed, assigned to nobody

[2019-05-23 18:53] ericspod commented on #251
@danieltudosiu Is this in-progress still? I don't see a 251 branch.

[2019-05-24 09:27] ericspod commented on #321
This appears to be the same issue as mentioned in #37. This appears to be caused by creating a network based on data with a different dimensionality than the one being loaded from the checkpoint. If you want to train on a 2D dataset the weights of some convolution would have a 4D dimension (ie. shape= [3,3,61,256]) whereas those being loaded from the zoo would have 5D (ie. shape= [3,3,3,61,9]).

[2019-05-24 09:30] ericspod commented on #308
This is an issue with your Python install. Niftynet and the zoo are all pure Python essentially, nothing is compiled. It is your version of Tensorflow which expects CUDA 9.0, depending on where you got it from (conda or pip) you should be able to get a version for CUDA 10.0 or you'll have to install version 9.0.

[2019-05-24 09:32] #276 closed, assigned to nobody

[2019-05-24 10:09] ericspod commented on #268
@wyli: this doesn't appear to have been fixed in the branches referencing #268.

[2019-05-24 10:11] danieltudosiu commented on #251
@josemariamoreira Did implement a Y-Net as far as I am aware.

[2019-05-24 10:11] #308 closed, assigned to ericspod

[2019-05-24 10:54] wyli commented on #268
@ericspod No, this hasn't been fixed.
The commit message is causing the confusion here --
messages created before June 2018 may contain issue/PR id such as `#268`,
refer to our previous cmiclab ticket (`https://cmiclab.cs.ucl.ac.uk/CMIC/NiftyNet/issues/268`). here the ids are automatically linked to github (`https://github.com/NifTK/NiftyNet/issues/268`), which is incorrect because the issue lists

[2019-05-28 03:44] yinghweynai opened #351 "2-th value returned by pyfunc_0 is float, but expects int32 in NiftyNet Segmentation"
Hi, I am new to python and could not figure out the below error. I am running NiftyNet segmentation application on python 3.6.8 via Anaconda without GPU (Error message below). Could you advise me?
Thank you.

Traceback (most recent call last):
  File "c:\users\mednyh\appdata\local\continuum\anaconda3\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "c:\users\mednyh\

[2019-05-28 04:46] yinghweynai commented on #351
I resolved the above by setting interp_order to 0 or 1 as mentioned here: https://github.com/NifTK/NiftyNet/issues/312. However, I would prefer to keep the image as original. Is there an alternative to this?

I also encounter problems in convolution using both toynet and highres3dnet:
During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:

[2019-05-28 04:52] agrawal123 opened #352 "Feature Request: CONDA, Jupyter, Docker"
NiftyNet is amazing, but getting it going on various computers is quite difficult.  Especially since it does not use the latest Tensorflow (1.12 vs. 1.13), finding the appropriate CUDA and dependencies can be difficult.

Have you considered packaging it as a CONDA package?    A Docker container for GPU/CPU would be convenient as well.    A Jupyter Notebook would make deployment/inference easy.   I

[2019-05-28 10:23] wyli commented on #352
Thanks for the nice suggestions @agrawal123, actions on this ticket would be:
* [ ] improve the documentation -- tensorflow-gpu installation via conda
* [ ] build docker images for niftynet GPU/CPU version (won't solve the GPU driver/CUDA/cudnn installation issue though? GPU version needs nvidia-docker https://github.com/NVIDIA/nvidia-docker  https://github.com/Luke035/nvidia-anaconda-docker)
* [

[2019-05-28 12:51] agrawal123 commented on #352
Thank you for the prompt response!

Yes, we internally created a NiftyNet docker built on top of the Nvidia docker for GPU.  unfortunately, in Docker, we can only get acceleration in Linux.

We have trained some models and will be publishing two papers referencing your group.  :)

We were looking for an easy deployment strategy (end users upload images, we give them segmentations).   We tried to c

[2019-05-28 12:54] agrawal123 commented on #352
One more thing - thank you for that Google Colab link.   If we create a Jupyter notebook from a working Conda install, we may be able to use it directly on Google Colab.    Then CUDA, cdnn, etc should all be compatible and working.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Sumit Agrawal <sumit_kishore_agrawal@hotmail.com>
Sent: Tuesday, May 28, 2019 8:51:31

[2019-05-28 12:58] AlanKuurstra opened #353 "Feature Request: support for complex / imaginary input and output images"
Are there any plans to support complex / imaginary input and output images?

[2019-05-28 17:20] #147 closed

[2019-05-28 17:27] ericspod commented on #184
This is essentially a duplicate of #183.

[2019-05-28 17:27] #184 closed

[2019-05-28 19:14] dzhoshkun commented on #166
@ericspod Please could you discuss with me before assigning tickets to me. Thanks.

[2019-05-29 11:22] mmodat commented on #252
Hi @tomvars
Any progress on that? @irme is keen to work on it during the hackathon.
@irme and @ericspod - could you have a chat about it and plan what are the required changes?

[2019-05-29 12:07] ericspod commented on #252
@Irme and I have discussed. She has a solution which isn't compatible with just making a PR. We will be changing the code a lot during the hackathon which will make that harder. We feel that figuring out what the solution should afterwards is the way forward.

[2019-05-29 12:34] ericspod commented on #204
Is it actually filling memory such that the program fails? Tensorflow allocates all memory at once so it always looks full. If it is failing then it's a memory leak somehow we need to investigate.

[2019-05-29 12:43] ericspod commented on #350
The discussion in #208 may be relevant to your case. It is hard to say without seeing your data set, but the issues of window size, batch size, initialization weights, or relative size of labels may be relevant to you.

[2019-05-29 12:46] ericspod commented on #296
This discussion on #208 may be relevant to your issues.

[2019-05-29 12:59] ericspod commented on #275
This may be related to #208. If your segmentations are really tiny then the background can dominate the dice calculation. Read through the discussion there to see if they have any relevant solutions.

[2019-05-29 13:42] tvercaut commented on #184
This is actually not really a duplicate. #183 is about one-off downloading through a command-line whereas #184 is a tighter integration at the API level.

[2019-05-29 16:50] ericspod commented on #239
We're planning to process through the pull requests so I'm going to mark this one as closed as #334 will address it.

[2019-05-29 16:50] #239 closed, assigned to nobody

[2019-05-29 17:12] ericspod commented on #266
This error is about the size of the spatial window versus coordinate window size minus the border. You're specifying `border = 0` in your config file, try with larger values. The error will get logged in your log file so check that as well to see what the sizes are that are being specific complained about.

[2019-05-29 17:19] ericspod commented on #273
If there isn't any more action on this I will close it.

[2019-05-29 17:19] #273 closed, assigned to nobody

[2019-05-29 17:21] #277 closed, assigned to nobody

[2019-05-30 10:11] ericspod commented on #287
The spatial_window_size should have the dimensions of data you're working with, so for 2D it would (h, w). The unet_histology demo illustrates this using the 2D unet implementation.

[2019-05-30 14:35] ericspod commented on #294
The comment refers to this line: https://github.com/NifTK/NiftyNet/blob/dev/niftynet/engine/application_iteration.py#L177

If there's nothing more to add I'm going to close this one.

[2019-05-30 14:35] #294 closed, assigned to nobody

[2019-05-30 14:55] ericspod commented on #323
What kind of data are you using? What are the ini file settings?

[2019-05-30 15:07] ericspod commented on #326
There doesn't appear to be currently, we can add this as an enhancement item.

[2019-05-30 16:27] ericspod commented on #327
There currently isn't a way of doing this cleanly. What you would have to do is instantiate the model class you were using, reload the data from the checkpoint, then have that saved out as a SavedModel. Adding this as a feature is an idea we'll consider.

[2019-05-31 09:52] atbenmurray opened #354 "Feature request: Allow optional inputs / placeholder tensors"
Current behaviour:
Given a set of inputs, NiftyNet will match them by name to each other and then reject inputs for which some set of the related inputs are not present. For example
[code]

NiftyNet will reject 02 and 04 and the resulting dataset will be {01, 03}

Proposed behaviour:
The user can specify that a given input (label in our example) is optional, and can be replaced with a placeholder

[2019-05-31 10:20] atbenmurray opened #355 "Bug: ResizeSampler uses scipy.ndimage.zoom which can result in incorrect resamples"
We should move to a better resampler, such as skimage.resize, that samples from / at pixel / voxel centres.
Details to follow, but this issue affects downsampling.

[2019-06-02 08:08] tvercaut commented on #355
Note that this is related to #334
The implementation of the resampling should be transparent to the user and should ideally be efficiently running on the GPU when feasible.

[2019-06-02 08:15] tvercaut commented on #354
To ease cross-referencing this ticket. The proposed behaviour would be great to implement hetero-modal networks such as [HeMIS](https://arxiv.org/abs/1607.05194), [PIMMS](https://arxiv.org/abs/1807.06537) from @tomvars , [Dorent:19](http://proceedings.mlr.press/v102/dorent19a.html) from @reubendo and the like.

[2019-06-02 13:14] koriavinash1 commented on #37
@ericspod  Is it possible to add new layers in between and fine-tune the model on a custom dataset?

[2019-06-03 09:32] dzhoshkun commented on #182
As discussed with @ericspod via email, I'm a bit tied up at the moment, so will unfortunately not be able to undertake this issue. On a related note, this is a sub-task of #166 - possibly one of the last sub-tasks in that ticket, so probably best to address it after all the others.

[2019-06-03 11:33] Lazy-Propagator opened #358 "Dense V-Net not able to process input image"
ValueError: input tensor's spatial dimensionality not not compatible, please tune the input window sizes:   lambda x: x % modulo == 0)

I receive this error when I try to run Dense V-Net on a mhd file, when I am specifying the dimensions in spatial_window_size, which are (512, 512, 194).

When  I don't specify anything, I get an error that:
ValueError: Unknown output window size for input image im

[2019-06-03 13:38] #268 closed, assigned to wyli

[2019-06-03 17:25] ericspod commented on #37
@koriavinash1 I'm afraid not, at least not trivially. The models are loaded from the zoo as checkpoints so you can't really have a different model with new layers load data from that.

[2019-06-04 09:05] csudre opened #362 "Multiple outputs / Multiple types of output"
Before filing your issue, please note that it might be more appropriate for Stack Overflow, using the `niftynet` tag:
https://stackoverflow.com/questions/tagged/niftynet

Read the following to decide whether to file an issue here or ask a question on Stack Overflow:

**Issue** → **Action**
- How do I ...? → Stack Overflow
- I got this error, why? → Stack Overflow
- I got this error and I'm sure it

[2019-06-04 09:54] OeslleLucena opened #363 "Improve documentation"
@fepegar and I will work on improving the documentation for the config file by adding more examples and detailing things.

[2019-06-04 10:33] fepegar commented on #363
What is [`interp_order`](https://niftynet.readthedocs.io/en/dev/config_spec.html#interp-order)? The docs say "Interpolation order of the input data", I think that's not clear. When I searched `sitkNearest` in the repo, the only occurrence is in `RandomElasticDeformationLayer`. What parts of the pipeline does this value actually affect? Changing pixdim of input and output? Performing augmentation?

[2019-06-04 10:37] csudre opened #364 "Classification output from a multipatch sampling"

[2019-06-04 11:31] danieltudosiu opened #365 "Upgrading Requirements to be compatible with Tensorflow 1.14.0rc0"
Changing the underlying Tensorflow to 1.14.0rc0 and make sure all tests pass.

[2019-06-04 11:43] tvercaut opened #367 "Consider switching to GitHub Pages to host the niftynet website"
The current [website](http://niftynet.io) needs tender love and care. The source is hosted here https://github.com/NifTK/NiftyNet_Website but it hasn't been updated much and pushing the changes live is cumbersome. Should me move to using GitHub pages https://pages.github.com to streamline things? We would need a redirect of some sort to make sure http://niftynet.io is still transparently being use

[2019-06-04 12:27] tvercaut commented on #367
https://help.github.com/en/articles/using-a-custom-domain-with-github-pages

[2019-06-04 12:58] tvercaut commented on #183
As discussed with @tomvars and @mjorgecardoso a similar requirement for [TCIA](https://www.cancerimagingarchive.net) and [Synapse](https://www.synapse.org) would help making better use of challenge-related datasets.

[2019-06-04 14:12] atbenmurray commented on #183
@wyli and I had a discussion related to memory-based images #346 and he is modifying the implementation of #346 accordingly. This should provide the framework for how to handle this and other input-source-related items

[2019-06-04 15:34] atbenmurray commented on #166
Note that this is active WRT the hackathon

[2019-06-05 11:35] fepegar opened #376 "Meaning of interpolation should be clearer in the docs"
It's not clear what [`interp_order`](https://niftynet.readthedocs.io/en/dev/config_spec.html#interp-order) and [`https://niftynet.readthedocs.io/en/dev/config_spec.html#output-interp-order`] are used for.

Also, the config docs mention SimpleITK constants but sometimes `scipy.zoom` is used in the code.

[2019-06-05 11:40] fepegar opened #377 "Modify docs about smaller_final_batch_mode"
The [`smaller_final_batch_mode`](https://niftynet.readthedocs.io/en/dev/config_spec.html#smaller-final-batch-mode) parameter is ignored during training as the dataset is "infinite" (samples yielded by a generator). Dropping a smaller batch won't happen. During inference, users will rarely want to specify if they want to specify whether they want to use `pad` or `dynamic`.

Should this parameter be

[2019-06-05 13:31] martaranzini opened #379 "Network documentation"
Improving network documentation to give more information on default values/required inputs.

Need for network docs?

[2019-06-05 14:00] danieltudosiu opened #381 "TensorflowTestCase makes our tests to be skipped in TF 1.13.1>="
1. What you were trying to do (and why)
I have run the tests under an environment with TF 1.13.1/1.14.0rc0 and CUDA 10 with cudnn 7.5.

2. What happened (include command output)
Tests are being skipped due to the issue presented in [Tensorflow #29439](https://github.com/tensorflow/tensorflow/issues/29439)

3. What you expected to happen
To have only 23 tests skipped (given CV2 and SimpleITK are no

[2019-06-06 08:58] csudre opened #384 "Go through all the ToDo and see/implement what is missing"

[2019-06-06 09:59] atbenmurray commented on #354
It's applicable to @tomvars work but after a chat with @ReubenDo, we think that his use case is more specialized. I'll capture it in a couple of issues but for now its going into contrib.

[2019-06-06 10:27] tvercaut commented on #367
Netlify can also be a good option:
https://www.netlify.com/pricing/

[2019-06-06 10:42] Zach-ER commented on #339
Yes, this is true. 'Dense' refers to the fact that the labels are given as densely labelled, multi-channel images whereas they are normally given as integer labels. This functionality is useful if, for example, classes are not exclusive (for example, hierarchical labels).

[2019-06-06 10:42] #339 closed, assigned to nobody

[2019-06-06 10:42] wyli commented on #358
Hi @Lazy-Propagator the window size should be divisible by 8

[2019-06-06 10:42] #358 closed, assigned to nobody

[2019-06-06 10:46] csudre commented on #364
What to do when we use a patch based sampling and we perform classification over the patches if we want at the end image wide classification...
Need probably to implement different ways of aggregating the results: Average, maximum, minimum, median

[2019-06-06 11:28] csudre opened #388 "Multi task adaptation"
For the moment a single Parameter categories is allowed but for multitask applications it would be important to have the ability to predefine in the config file different number of classes (for the classification and the segmentation), different output type (argmax for classification and probabilistic for segmentation for instance)
Maybe need to have task_param as an array of dictionaries?

[2019-06-06 11:54] atbenmurray opened #390 "Refactor: Move image preprocessing fields that can vary by input to '[input_x]' section"
At present [NETWORK] contains a number of fields related to pre-processing that could potentially vary by input. These should be moved to the inputs that they relate to so that applications can use multiple inputs having different preprocessing requirements. See [Config File Refactors](https://github.com/NifTK/NiftyNet/wiki/Config-File-Refactors) in the wiki for more details.

[2019-06-06 12:25] pritesh-mehta opened #392 "regression application csv output"
#372 forces the use of the identity aggregator in the case of output that is not the same shape as the input image e.g. single value regression. The identity aggregator saves output as nifti images. This behaviour is enabled by a config flag -force_output_identity_resizing. A more desirable solution would be to not have a flag in the config and in the case of non-image output, pass through the res

[2019-06-06 12:54] pritesh-mehta commented on #392
The need for a flag may be negated by specifying a csv output if the csv reader is used for label input.

[2019-06-06 13:03] atbenmurray opened #394 "Feature: Provide input group functionality for NiftyNet"
NiftyNet could benefit from more flexible input management. At the moment, the config file allows a user to associate a set of inputs into a named input tuple as follows:
[code]
The user can also concatenate a set of inputs into channels of the same tensor as follows:
[code]

This is as much configuration as the user has; the application writer is then responsible for mapping inputs to input reade

[2019-06-06 15:36] Zach-ER opened #396 "Implement 'No New-Net'"
The current implementation of UNet3d is outdated. One major problem is that it does a crop, instead of using valid convolutions all the way through. This slows it down majorly.

I propose implementing a new UNet3d based on No New-Net (https://link.springer.com/chapter/10.1007/978-3-030-11726-9_21)

This network did well in the BRaTS 2018 challenge and is efficient. Additionally, using the `volume_

[2019-06-06 16:16] #88 closed

[2019-06-06 16:17] #100 closed

[2019-06-06 16:22] wyli commented on #122
net_regress implements a more generic version of ISampleRegression, so please use net_regress in this case

[2019-06-06 16:22] #122 closed

[2019-06-06 16:24] wyli commented on #204
I'm closing this now, please reopen if exact steps to reproduce the issue is available.

[2019-06-06 16:24] #204 closed

[2019-06-06 16:25] #89 closed

[2019-06-06 20:53] tvercaut commented on #367
As discussed with @mjorgecardoso the easiest seems to be to:
- keep our https://github.com/NifTK/NiftyNet_Website repo
- enable GitHub Pages there
- make sure the redirect happens from the current hosting service

@mjorgecardoso can you enable this on there?

[2019-06-06 20:58] tvercaut commented on #367
Forgot to mention, without redirect, this would be the basic url of the GitHub Pages:
https://niftk.github.io/NiftyNet_Website/

I have also started a related issue on the website repo:
https://github.com/NifTK/NiftyNet_Website/issues/1

[2019-06-06 21:32] koriavinash1 commented on #42
@Kyuuki93 can you share your config file?

[2019-06-06 22:07] koriavinash1 commented on #312
Is it possible to get accuracy in logs?

[2019-06-07 19:38] koriavinash1 opened #401 "Unable to run inference on customized highres3dnet"
Hi, I trained 3D classification network using highres3dnet as a backbone, but I'm unable to infer (getting segmentation fault)

the command used for inference:
python net_classify.py inference -c ./config/QualityControlConfigEval.ini

corresponding config.ini used:

[code]

This results in a Segmentation fault, after loading model weights and  data, the output looks like:
[code]

[2019-06-07 19:50] koriavinash1 opened #402 "Unable to get validation logs on tensorboard"
Hi, I trained 3D classification network using highres3dnet as a backbone, but I'm unable to get validation logs, Is there any specific flag in a config file for populating validation logs on tensorboard?

[2019-06-07 21:31] koriavinash1 commented on #402
Thanks got it

[2019-06-07 21:31] #402 closed, assigned to nobody

[2019-06-08 15:43] csudre opened #403 "Debug multi output for batch size > 1"
For now there is a problem when batch size is more than one for csv output - Need to be fixed

[2019-06-08 22:34] ericspod commented on #401
Is this perhaps an issue with your Tensorflow install? The segfault would indicate something lower down than Niftynet is the issue. What versions of Tensorflow and Python are you using? What hardware platform (I see it says XLA)?

[2019-06-09 00:39] koriavinash1 commented on #401
Thanks for your reply, current environment settings are:
Tensor flow 1.13.1 (did necessary edits in niftynet so it supports this version of tf)
Python 3.7.2
Hardware: cpu cluster with 64 GB of RAM

[2019-06-09 21:37] ericspod commented on #401
I'm afraid I think this is a technical issue on your setup. Please try to start inference again with Niftynet running on Tensorflow 1.12 and a regular desktop computer. We're working on getting the later versions of TF working and have encountered enough differences for it to be a challenge.

[2019-06-09 22:58] koriavinash1 commented on #401
But I'm able to train the model with the same setup, an error occurs only with inference flag

[2019-06-10 22:08] ericspod commented on #401
Which is really odd I admit, but I can't imagine what in Niftynet could possibly cause a segmentation fault. Since it's all Python it's an error in the Tensorflow library or something it interacts with below the Python level so doing this test is all I can think of. Trying it with CPU rather than on GPU might work also.

[2019-06-11 02:09] koriavinash1 commented on #401
Thanks, I'll check that once and update

[2019-06-11 06:41] csudre opened #406 "Pb tests check_should_stop handler early stopping"
The check_should_stop function of the handler_early_stopping does not have a patience parameter that is however required in the tests. Therefore, none of the tests pass and the pull requests are stuck...

[2019-06-11 06:43] csudre commented on #406
Many thanks in advance if you can take care of it (or explain what I got wrong!)

[2019-06-13 21:35] koriavinash1 commented on #401
Now suddenly it starts to work after reinstalling all the packages

[2019-06-13 21:35] #401 closed, assigned to nobody

[2019-06-13 21:38] koriavinash1 opened #407 "Information"
What exactly is data loss?

[2019-06-14 20:06] koriavinash1 opened #408 "weighted cross entropy for classification task"
Is it possible to add class specific weights in cross entropy loss? what variables in config files correspond to these weights?

[2019-06-17 15:06] ericspod opened #409 "Test Fails and Cleanup"
There are failing tests still and other issues to cleanup from all of the mergers we've done. The test scripts should also be modified to be more easily run locally rather than be so dependent on the CI system. There will be a branch/PR for this shortly.

[2019-06-17 18:13] ericspod commented on #396
This has been merged so the issue can be closed.

[2019-06-17 18:13] #396 closed, assigned to Zach-ER

[2019-06-17 23:12] koriavinash1 commented on #254
@johnnychhsu were you able to use placeholders with niftynet pipeline? I'm unable to restore the model when using a placeholder, please let me know you fixed this issue.

Thank you

[2019-06-19 09:43] Zach-ER commented on #407
It is the name of the loss function (for example, Dice loss).

[2019-06-19 09:43] #407 closed, assigned to nobody

[2019-06-19 16:44] koriavinash1 commented on #407
@Zach-ER could you please elaborate with the mathematical form of this loss function?

[2019-06-20 07:58] #37 closed

[2019-06-22 03:48] argman commented on #128
@wyli , why do you use square in prediction ?

[2019-06-25 16:20] andreasstefani commented on #46
I am using the BraTS 2018 dataset with nearly the same content in histogram_ref_file. The difference is that my file maps [0] to 0, and [0, 1, 2, 4] to 1 (for whole tumour segmentation, so num_classes = 2 under [SEGMENTATION]). According to the documentation, the parameter histogram_ref_file will be not ignored when normalisation=True. However, when normalisation=True, the inference segmentation i

[2019-06-26 15:18] bsc0001 opened #412 "Training with images of different sizes"
Hello!

I'm training a model for segmentation of stroke lesions on brain CT images. I found out it's an issue with the NiftyNet code to train if some of the images used have different amount of slices (a common matter in brain CT images), and therefore slightly different z dimensions. I'm trying to work on a solution, but despite some advances I haven't been able to solve it completely so far. If

[2019-06-27 08:55] danieltudosiu opened #413 "NiftyNet layers are not compatible with tf.cond"
If you post your question on Stack Overflow, please explain:

1. What you were trying to do (and why)
I am trying to create a VAE-GAN where the BatchNormalization layers of the Discriminator are not shared between the Real and Fake images since the batch statistics would get mislead.

2. What happened (include command output)
If I try to give to tf.cond's true_fn and false_fn arguments a BNLayer w

[2019-06-27 09:35] danieltudosiu commented on #413
My bad, please delete.

[2019-06-27 09:35] #413 closed, assigned to nobody

[2019-06-27 17:38] andreasstefani opened #414 "Developing a new network and get weights from previous layers"
Hello,

currently I am developing a new network using NiftyNet and would need some help.

I am trying to implement an Autofocus Layer [1] as proposed in the paper. However, at a certain point I need the weights (w) from a previous convolutional layer (conv1) for weight sharing to calculate K (K=4) parallel convolutions each using that weights (w) from (conv1).

Is there a way to read the weights f

[2019-07-01 12:09] andreasstefani commented on #208
Ground truth segmentations from BraTS 2018 dataset have 4 classes (0, 1, 2, and 4) when inspecting those files with ITK-SNAP. The class 0 (black) is the background, whereas 1, 2, and 4 corresponds to the different tumour structures (core, etc.).

Just to make sure, is it correct then when the loss (Dice) is roughly around a certain value - in this case 1 - 1/4 = 0.75 - during training in each iter

[2019-07-02 13:23] andreasstefani opened #417 "Inference produces dotted segmentation output [deepmedic]"
Hello,

I'm trying to train the 'deepmedic' model with the BraTS 2018 dataset.

**Data:** The BraTS 2018 dataset is very similar to the BraTS 2017 dataset. The only difference is that there are 3 tumour sub-regions (BraTS 2018) instead of 4 tumour sub-regions (BraTS2017). Therefore, including the background, the number of classes is 4 for BraTS 2017. The BraTS 2018 images are from size 240x240x155

[2019-07-04 01:06] chazzmoney opened #419 "Mixup / Mixmatch capability?"
Hello! I found your paper from MIDL 2018 on using mixup/mixmatch in semantic segmentation. In the paper, it mentioned that the code was viewable here - but I can't seem to find it.

Is it present in one of the branches and I missed it?

Thanks!

[2019-07-07 07:28] alekswithakayy commented on #412
It's standard practice in deep learning to resize all images to a single set of dimensions/pixel spacings through interpolation and cropping. You will need to clean your data in this way using a image processing library. I'd recommend taking a look at [SimpleITK](https://simpleitk.readthedocs.io/en/master/Documentation/docs/source/fundamentalConcepts.html) as it is easy to use and tailored towards

[2019-07-09 00:46] koriavinash1 opened #420 "intermediate layer feature activations"
Is it possible to get intermediate layer feature activations during inference time?

[2019-07-12 02:05] #409 closed, assigned to ericspod

[2019-07-12 02:19] ericspod commented on #419
@Zach-ER Is there a link to the code somewhere?

[2019-07-12 02:21] ericspod commented on #124
Work is still ongoing with the pull request associated with this ticket.

[2019-07-15 19:34] JunMa11 commented on #417
So weird.
I do not have experience with deepmedic, but I try U-Net with brats2018, it works well.
Do you have similar problem with U-Net in niftynet.

[2019-07-16 08:56] Zach-ER commented on #417
Hi there,
I had a look at the config file and I think the most likely culprit is the 'window sampling' parameter. You have chosen `uniform`, which means that the `9x9x9` label window is equally likely to be anywhere in the volume. This means that you will see relatively few foreground patches.

In the DeepMedic MIA paper, they say

What I'd try is making a foreground mask (binary mask that is >0 f

[2019-07-16 18:27] koriavinash1 commented on #420
figured out, thank you

[2019-07-16 18:27] #420 closed, assigned to nobody

[2019-07-16 18:30] koriavinash1 opened #421 "model saving based on validation feedback"
Is it possible to save checkpoints based on validation loss or any defined validation metric?

[2019-07-17 17:33] chazzmoney commented on #419
Thanks for looking - will be very helpful!

[2019-07-18 15:02] Zach-ER commented on #414
I think I see what you're trying to do:

You can instantiate a convolutional layer `conv_layer` and once you've done that, there's nothing stopping you from using it multiple times on different tensors. So I think the answer to your problem is to do that: please let me know if I've got it wrong somehow.

[2019-07-18 16:46] andreasstefani commented on #414
Hi @Zach-ER, that will not work because each (parallel) conv layer has a different dilation rate. Hence, I need to instantiate 4 conv layers. But, these 4 conv layers need to have the same weight - otherwise, the outputs for each conv layer would be totally wrong and not relate with each other.

[2019-07-18 16:56] wyli commented on #414
I don't think that's true because convs with different dilation rates could be implemented as using the same set of conv kernels and rearranging convs' input e.g. https://github.com/NifTK/NiftyNet/blob/dev/niftynet/network/highres3dnet.py#L155

[2019-07-18 19:15] andreasstefani commented on #414
Of course, you are totally right. I was interpreting the first answer in a completely different way - my fault. Your suggestions should work and fix the problem.

If I understand you correctly, I simply create 4 tensors with different dilation rates (2, 6, 10, 14) instead of 4 dilated convolutions. Using these 4 tensors as input for the single conv layer (kernel=3) one after another would simulate

[2019-07-18 21:33] wyli commented on #414
exactly @andreasstefani. I'm closing this issue now. would be great to have your PR of this autofocus module to niftynet:)

[2019-07-18 21:33] #414 closed, assigned to Zach-ER

[2019-07-22 13:33] Zach-ER commented on #419
Hi there,

I have created a branch here:
https://github.com/NifTK/NiftyNet/tree/419-add-mixup-mixmatch-from-MIDL-2018

That you can use while it pends merging into the main code. Two provisos:

1. mixup is designed to be of low computational cost. My current implementation calls the sampler twice per iteration: if this is slow, it might be worth optimising further.
2. mixup only works with dense l

[2019-07-22 15:14] chazzmoney commented on #419
I really appreciate it - thank you!

[2019-07-22 15:14] #419 closed, assigned to nobody

[2019-07-22 17:02] wyli commented on #362
added by PR https://github.com/NifTK/NiftyNet/pull/404

[2019-07-22 17:02] #362 closed, assigned to nobody

[2019-07-23 10:45] #365 closed, assigned to nobody

[2019-07-23 10:45] #381 closed, assigned to nobody

[2019-07-24 07:57] anlarro commented on #412
There is no need to use an external library. You can resize all images directly in NiftyNet by setting  `pixdim` in the config file. For example: `pixdim = (1, 1, 1)` will resize all volumes to have isotropic voxel of 1mm.

[2019-07-24 13:46] helwilliams commented on #326
Hello I know this was a long time ago, but I am jsut wondering how you found the input/output nodes- i am trying to freeze my own graph myself to export tf to onnx and am struggling finding the right one.

[2019-07-25 12:42] fepegar opened #424 "Links to papers on https://niftynet.io/ not working"
They just redirect to point to `https://niftynet.io/#`.

[2019-07-25 12:44] tvercaut commented on #424
This should probably be reported on https://github.com/NifTK/NiftyNet_Website

[2019-07-25 12:45] tvercaut commented on #367
@mjorgecardoso Can you look into this?

[2019-07-25 13:47] mjorgecardoso commented on #367
I did this already, but forgot to close the ticket.

[2019-07-25 13:47] #367 closed, assigned to mjorgecardoso

[2019-07-25 14:05] fepegar commented on #424
Ok, thanks. I didn't know that repo.

[2019-07-25 14:05] #424 closed, assigned to nobody

[2019-08-03 14:05] poorneshwaran opened #426 "custom optimization"
I'm using dense_vnet for segment  ct data. Its working fine. But , I need to customize optimization, loss function and activation function. I got error like no object takes no parameters for optimization. I used **AdaBound** optim in engine and call get instance & return without tf.train.[optim].

[2019-08-05 13:38] ericspod commented on #426
We're need more information than this to see where the issue is. Do you have a log output? Is an actual exception being raised somewhere we have a trace for? Do you have the ini file you used?

[2019-08-05 16:52] poorneshwaran opened #427 "Segmentation loss"
I have used your code from past week. It works good, recently i got error like "segmentation loss: Could not import object"dice" from "dense_vnet_abdominal_ct.dice_hinge". Module not found dense_vnet_abdominal_ct.

Are you matched or default to maintain "dense_vnet_abdominal_ct.dice_hinge" by
dense_vnet_abdominal_ct folder.

python version =3.6
conda tensorflow 1.14 these are the package I'm using

[2019-08-05 16:55] fepegar opened #428 "Why are the preprocessing layers deepcopied?"
I'd like to keep track of the random augmentation parameters applied to each single sample. Every time the reader is called, the [preprocessors are deepcopied](https://github.com/NifTK/NiftyNet/blob/df0f86733357fdc92bbc191c8fec0dcf49aa5499/niftynet/io/image_reader.py#L235-L244), therefore the information I want is not stored.

Why are these layers deepcopied before being randomised?

[2019-08-05 17:00] fepegar commented on #428
It seems to work fine without the `deepcopy` operation.

[2019-08-06 22:41] ProofOC opened #429 "Classification task"
This is probably most similar to #42 and #312, but reading through those did not provide me any clarity.  I am just trying to train a trivial whole-image classification network to get a feel for the NiftyNet framework, and running into significant difficulty understanding the process and results.

I have sets of T1-weighted and T2-weighted MR images and I'm trying to train a network to discriminat

[2019-08-07 12:13] ericspod commented on #427
Can you give us the ini file you used and a full stack trace of the error?

[2019-08-08 08:45] poorneshwaran commented on #426
And I tried to solve above error, new error as appear.

Traceback (most recent call last):
  File "net_segment.py", line 13, in <module>
    sys.exit(main())
  File "/home/poornesh/my-projects/new-Nifty/niftynet/__init__.py", line 147, in main
    app_driver.run(app_driver.app)
  File "/home/poornesh/my-projects/new-Nifty/niftynet/engine/application_driver.py", line 188, in run
    is_training_act

[2019-08-08 09:08] poorneshwaran commented on #427
I put the niftynet inside the folder like [my-folder/niftynet]. And I download dense_vnet_abdominal_ct_zoo in outside folder. the above error disappear. In the code , join the path like **home,extension[default]**. I found the home + extension + dense_vnet_abdominal_ct.dice_hinge is globally defined.

[2019-08-09 18:41] wyli commented on #428
Hi @fepegar because that function could be called from multiple threads simultaneously, deepcopy ensures the 'randomness'.

[2019-08-09 18:41] #428 closed, assigned to csudre

[2019-08-09 18:45] #412 closed, assigned to nobody

[2019-08-10 09:30] fepegar commented on #428
Thanks @wyli

[2019-08-13 19:44] NicoYuCN commented on #333
Hi, how is going with this problem? Thanks.

[2019-08-13 23:26] #429 closed, assigned to danieltudosiu

[2019-08-15 17:47] fepegar opened #432 "Unexpected behaviour of weighted sampler"
Let my sampling map be `sampling_map = [1, 1, 2, 2, 1, 1]`, where `2` is the tumour segmentation ground truth and `1` is everything else in my MRI (brain, head, background). I chose the values so that 50% of the samples come from the tumour, and 50% from everywhere else, since `1 * 4 = 2 * 2`.

The sorted values are `[1, 1, 1, 1, 2, 2]` and the cumulative histogram is `[1, 2, 3, 4, 6, 8]`.

Howeve

[2019-08-15 18:01] ericspod commented on #427
Does that resolve your issue? I think the path to that directory is indeed hard coded somewhere.

[2019-08-15 18:23] fepegar commented on #432
@tomvars

[2019-08-15 18:38] fepegar commented on #432
Actually I think my suggested solution for the second issue might be wrong, as I'm running an experiment and now most of the sampled indices are the first ones...

[2019-08-15 20:17] wyli commented on #432
thanks @fepegar a PR would be great, you can append a test here: https://github.com/NifTK/NiftyNet/blob/dev/tests/sampler_weighted_v2_test.py#L224

with assertAllClose you set the tolerance, so you can check something like 24945/12482 is close to 2

[2019-08-19 05:52] poorneshwaran commented on #427
The issue is resolved. thanks for your support Kerfoot.

[2019-08-19 05:52] #427 closed, assigned to nobody

[2019-08-22 12:07] MancaZerovnikMekuc commented on #245
A mention of this in documentation would be quick for you and necessary for the community. Evaluation is returning false values not just for Dice coefficient but for every multi-modal metric which use conf. matrix. Can cause a lot of problems to a user.

[2019-08-22 18:59] carlpe opened #433 "Segmentation evaluation creates accumulative n_pos_ref across all labels."
I have successfully trained and inferred using densevnet, but I have an issue concerning the evaluation.

After I run evaluation and get the .csv file, I see that the numbers for n_pos_ref (Ground truth voxels) are not divided into separate labels, but seems to be an accumulative number of all three labels. The n_pos_seg (inferred voxels) work properly and are seperated into each specific label.

[2019-08-22 19:40] carlpe commented on #433
It is working now - turns out that is was a bug in segmentation_evaluations.py

https://github.com/NifTK/NiftyNet/issues/245?fbclid=IwAR3SypbLm7gyyizQuGU6LWieHnlDD4wctGXPzHeLAweAm9A1MhLzohkgTBI#event-2375796140

The solution suggested in #245  solved the issue.

[2019-08-22 19:40] #433 closed, assigned to nobody

[2019-08-22 19:58] #245 closed, assigned to nobody

[2019-08-24 00:15] kennethaweberii commented on #331
I am having a similar issue using resnet for classification. My input data are 2D nifti images. Any help is appreciated! Thank you, Ken.

python /home/kenweber/NiftyNet-0.5.0/net_classify.py train -c SCI_Ambulation_Classification_config_training.ini

Configuration File:
[image]
path_to_search = /home/kenweber/SCI_Ambulation_Classification/data/training/
filename_contains = subject_,_image
filename

[2019-08-24 14:55] carlpe opened #435 "Control the GPU memory allocation"
Tensorflow-gpu 1.13.1

I am using densevnet. Some days ago everything was working properly, but today I got an error message 'OOM....'   .

My total GPU memory is:
2019-08-24 16:39:21.609144: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1433] Found device 0 with properties:
name: GeForce RTX 2080 Ti major: 7 minor: 5 memoryClockRate(GHz): 1.545
pciBusID: 0000:0a:00.0
totalMemory: 11.00GiB fr

[2019-08-24 19:13] talmazov opened #436 "GPU->CPU Memcpy failed"
Hey everyone,
I am trying to run a training on 2 CBCT segmented volumes but I am running into an issue of GPU->CPU Memcpy failed. I was reading around in the tensorflow repo that it is an issue of insufficient memory so i reduced the size of the volumes drastically, as well as the batch_size and queue_length however I still get this error. I have included the configuration file here. My PC runs on

[2019-08-26 10:49] bor2093 commented on #124
Hi guys,
I think this feature is really great. I wonder if there is any progress in merging to **dev** branch...

[2019-08-26 16:01] manuel-lincbiotech opened #437 "Overlap in window outputs with border parameter"
Hello, I wanted to ask regarding the border parameter for inference. If I understood it is necessary to specify a minimum when the output patch size is less than the input, in order to compensate the 'void regions' that would appear between output window patches if we were to set border to 0. But this being a minimum means we can specify bigger values, which in practice I believe means that the ou

[2019-08-27 13:43] ericspod commented on #435
There isn't a way currently to set this option unfortunately through config files. The config object used is defined [here](https://github.com/NifTK/NiftyNet/blob/299b972e60dca0cbf9656f0c72dd144db0ec5b31/niftynet/utilities/util_common.py#L463) so you could add the `config.gpu_options.allow_growth = True` line below that. We should look into a better way of doing this.

[2019-08-27 13:43] #435 closed, assigned to nobody

[2019-08-27 14:17] carlpe commented on #435
I tried doing this, unfortunately - it did not work. Do you think adding another GPU will sort this issue?

[2019-08-27 14:32] ericspod commented on #435
I think you're trying to load too much into memory. Tensorflow will allocate all the memory a card has then actually use it as it creates tensors, I think you're getting the OOM because you're trying to use more memory than your card has, that is to say more than Tensorflow has pre-allocated to itself. If you can try on a card with more memory you could see if that helps.

[2019-08-27 14:46] carlpe commented on #435
Ok, thank you for you reply.

By the way; with lower resolution settings it is working very well.

However I have another question also.. If I set the input resolution very high, there is a 2GB limit in tensorflow protocol buffer.

Please see my question formulated on stackoverflow; https://stackoverflow.com/questions/55490873/cannot-serialize-protocol-buffer-of-type-tensorflow-graphdef-as-the-ser

[2019-09-03 20:28] 12neurotool opened #438 "what does iteration mean in the configuration file?"
I am not clear about what the iteration means. Could you explain more about it? Also, how is it related to epoch?

Thanks.

[2019-09-05 23:40] maz369 opened #441 "How does the mask operation work? Train with Image/Label/Mask and test only with "image"."
Hello,

I am wondering how is the mask used during training and inference with Niftynet. Is this based on ROI pooling? I also appreciate if you could let me know which .py file incorporate the mask. I have been searching through Niftynet Python modules but could not find it.
Also, is there any way to train a model with "image", "label" and "mask" but perform inference only on "image". There are in

[2019-09-12 18:02] skyuuka commented on #55
I have the same issue, and my NiftyNet version is 0.5.0

[2019-09-27 01:25] zhaoxiaoqian666 commented on #170
I have the same problem, but there is no pixdim in my configuration file. How can I solve it?

[2019-09-27 07:55] fepegar commented on #170
@zhaoxiaoqian666 Please open a new issue specifying your configuration and output.

[2019-09-27 11:42] zhaoxiaoqian666 opened #443 "CRITICAL:niftynet: Don't know how to generate sampling locations: Spatial dimensions of the grouped input sources are not consistent. {(512, 512, 102), (512, 512, 92)} 2019-09-27 17:21:51.189240: W tensorflow/core/framework/op_kernel.cc:1261] Unimplemented: NotImplementedError:"
## What you were trying to do (and why)
  I encountered the problem in training Unet,I saw the previous posts, but my problem has not been solved. Maybe the wrong situation is different. Below are my configuration files and errors:

## What happened (include command output)

[code]

[code]

[code]

[code]

I hope you can help me point out where the problem is,Thank you!

[2019-09-30 10:44] fepegar commented on #443
Related to #274

[2019-09-30 10:48] fepegar commented on #443
Hi @zhaoxiaoqian666,

It looks like your input images and labels have different size.

[2019-09-30 10:53] fepegar commented on #438
At each iteration, [`batch_size` windows are extracted from the queue](https://niftynet.readthedocs.io/en/dev/config_spec.html#queue-length), they're fed to the network and the weights are updated using the gradient of the loss function with respect to the weights.

The concept of epoch doesn't apply in this case, because NiftyNet uses [patch-based training](https://niftynet.readthedocs.io/en/dev/

[2019-09-30 11:47] #432 closed, assigned to Zach-ER

[2019-09-30 13:34] zhaoxiaoqian666 commented on #443
Thank you ！But I check the image size of input and label,I’m sure they are consistent。------------------ 原始邮件 ------------------
发件人: "Fernando Perez-Garcia"<notifications@github.com>
发送时间: 2019年9月30日(星期一) 晚上6:48
收件人: "NifTK/NiftyNet"<NiftyNet@noreply.github.com>;
抄送: "zhaoxiaoqian666"<1476585534@qq.com>;"Mention"<mention@noreply.github.com>;
主题: Re: [NifTK/NiftyNet] CRITICAL:niftynet: Don't know

[2019-10-01 09:07] IsaacLord opened #445 "GPU->CPU Memcpy failed (pip version of tensorflow)"
I'm trying to use  3D network by using GPU (2080 Ti), however i got following error.

GPU->CPU Memcpy failed

2019-10-01 11:06:06.793519: I tensorflow/stream_executor/stream.cc:5011] [stream=00000256E1A01E70,impl=00000256E5F61A70] did not memcpy device-to-host; source: 0000000B11880D00
2019-10-01 11:06:06.791243: F tensorflow/core/common_runtime/gpu/gpu_util.cc:292] GPU->CPU Memcpy failed

even wi

[2019-10-01 12:29] IsaacLord commented on #436
Did you find any solution for this issue?

[2019-10-01 12:38] yuniorcf opened #446 "problems to run niftynet"
Hello,
I am trying to test NiftyNet for the first time but I am unable to do it.
I have configured the instalation according to this site (source code repository): https://niftynet.readthedocs.io/en/dev/installation.html
I have sicessfuly downloaded the model, however, once I execute te command "python net_segment.py inference -c ~/niftynet/extensions/dense_vnet_abdominal_ct/config.ini" I get the

[2019-10-01 13:09] talmazov commented on #436
no solution.
I suspect this is an issue with the underlying code not being able to copy data between system RAM and VRAM but im not sure why - i see the bug was assigned to someone. for now either drastically decrease the DICOM resolution or increase you graphics card's available VRAM.
Also to be fair, processing CT/CBCT DICOM even on CPU (which does not produce this error), my PC maxes out 32gigs

[2019-10-01 13:18] danieltudosiu commented on #446
As per Tensorflow issue [#24496](https://github.com/tensorflow/tensorflow/issues/24496) it seems to be a tensorflow problem.

Could you please try and run [this](https://github.com/tensorflow/docs/blob/master/site/en/tutorials/keras/classification.ipynb) tensorflow example and let us know if the same error appears there.

[2019-10-01 15:23] IsaacLord opened #447 "Problem with Installation of Niftynet (incompatible version of numpy and tensorbord between tensorflow and Niftynet)"
Im trying to install niftynet with "pip install tensorflow-gpu>=1.13.2" and continuing with "pip install niftynet".
the python version=3.6.0

After installation I got the numpy mismatch as follow:

ERROR: tensorflow 1.12.0 has requirement tensorboard<1.13.0,>=1.12.0, but you'll have tensorboard 2.0.0 which is incompatible.

ERROR: tensorflow-gpu 2.0.0 has requirement numpy<2.0,>=1.16.0, but you'll

[2019-10-01 15:37] danieltudosiu commented on #447
Firstly please create a new virtual environment as described [here](https://docs.python.org/3/tutorial/venv.html). Then activate the virtual environment by using the "source /path/to/virtual/environment/bin/activate" and use the following command to install the required packages: "pip install -r requirements-gpu.txt". Where requirements_gpu.txt can be find in our git repository.

Edit: wrote the c

[2019-10-02 07:31] yuniorcf commented on #446
Thank you very much for the reply.
I have tried this and I got no errors at all. The script did the predictions and this are the final message:
...
Test accuracy: 0.8813
(28, 28)
(1, 28, 28)
[[3.5098125e-04 1.3001217e-15 9.9916017e-01 4.8920496e-11 4.2484555e-04
  5.2356322e-12 6.4001571e-05 5.9205704e-17 5.7315066e-11 2.8146843e-15]]

I have an additional comment that might help to figure out the

[2019-10-02 07:39] IsaacLord commented on #447
Thanks for reply.
I tried with different virtual environments (creating by using python, pip and conda (at windows)) however i still get this error!
I followed the instrction as https://niftynet.readthedocs.io/en/dev/installation.html.

Would you please kindly advise me?

"
ERROR: tensorflow-gpu 2.0.0 has requirement numpy<2.0,>=1.16.0, but you'll have numpy 1.14.5 which is incompatible.
"

(Nifty

[2019-10-02 09:03] danieltudosiu commented on #447
1) Is it correct if I assume you are on Windows?
2) Could you please write the sequence of commands that you enter to install the requirements?
3) Please get the requirements-gpu.txt install the requirements based on that file and then install NiftyNet via pip.
4) Just out of curiosity, could you please do "pip install numpy==1.16.0"
5) If 4) does not solve it could you please do "pip install tens

[2019-10-02 09:56] IsaacLord commented on #447
I'm using windows 10. Python 3.7.3
I changed the requirement as you said:\
six>=1.10
nibabel>=2.1.0
numpy==1.16.0
scipy>=0.18
configparser
tensorflow-gpu==1.13.2
pandas
pillow
blinker
packaging

thena i follow this line :
conda create -n NIFTYNETENVS
conda activate NIFTYNETENVS
the i download the repositry, and extract on C drive .

cd c:/ANIFTYNETS

pip install -r requirements-gpu.txt

then tried

[2019-10-02 09:59] IsaacLord commented on #447
Also, after that i tried with
pip install numpy==1.16.0
then
pip install tensorflow-gpu==1.13.2

Now its seems ok!
However , when i'm trying use it : net_regress train -c C:\Wholebody\Niftynet\ThreeD_Training\Extension\Whole_body_AC.ini
 i got:

(NIFTYNETENVS) C:\ANIFTYNETS>net_regress train -c C:\Wholebody\Niftynet\ThreeD_Training\Extension\Whole_body_AC.ini
c:\programdata\anaconda3\lib\site-pack

[2019-10-02 10:05] IsaacLord commented on #447
I found this this issue here:
https://stackoverflow.com/questions/54271943/importerror-cannot-import-name-get-logger-niftynet

however when im using tensor 1.12.0, i cant run on gpu as i mentioned in :
GPU->CPU Memcpy failed
https://github.com/NifTK/NiftyNet/issues/created_by/DeepMedi

I'm looking forward to hear your kind advice.
thanks.

[2019-10-02 10:16] IsaacLord commented on #447
Also, I tried in another Environment with default requirement and then changed as you said:

six>=1.10
nibabel>=2.1.0
numpy>=1.13.3, <= 1.14.5
scipy>=0.18
configparser
tensorflow-gpu>=1.13.2
pandas
pillow
blinker
packaging

then change :
Just out of curiosity, could you please do "pip install numpy==1.16.0"
If 4) does not solve it could you please do "pip install tensorflow-gpu==1.13.2"

then i go

[2019-10-02 11:06] IsaacLord commented on #447
Find the solution.
Just change the : _get_logger -> get_logger in files

It dose work know!

[2019-10-02 11:06] #447 closed, assigned to nobody

[2019-10-02 11:07] IsaacLord commented on #445
Just change the Tensorflow Version!

[2019-10-02 11:07] IsaacLord commented on #436
Just Change the Tensorflow version!
It dose work !

[2019-10-02 11:08] IsaacLord commented on #436
you can follow the following link to solve this issue!
https://github.com/NifTK/NiftyNet/issues/447

[2019-10-02 11:12] wyli commented on #445
thanks @DeepMedi  probably https://github.com/NifTK/NiftyNet/blob/dev/requirements-gpu.txt#L6 needs to be revised due to some recent changes in tensorflow's pip package

[2019-10-02 11:15] wyli commented on #441
Hi @maz369 you can remove the line of config `label=...` in section `[segmentation]` during inference

[2019-10-02 11:15] #441 closed, assigned to nobody

[2019-10-04 07:36] brynolff commented on #443
The images may have the same size, but the blocks you extract from the images are different sizes:

[IMAGE]
-- csv_file: /home/deserts/Projects/NiftyNet-dev/config/g1/group1test.csv
-- filename_contains: None
-- filename_not_contains: ()
-- filename_removefromid:
-- interp_order: 1
-- loader: None
-- pixdim: ()
-- axcodes: ()
-- spatial_window_size: (96, 96, 96)        <---------------------------

[2019-10-04 08:15] brynolff opened #448 "FEATURE: different padding modes for different inputs"
When reading images into NiftyNet they are loaded as

        self.readers[0].add_preprocessing_layers(
            volume_padding_layer + normalisation_layers + augmentation_layers)

 i.e., first padding, then normalisation and finally augmentation. This is applied the same way independently of if it is an image, label, weight or sampler.

My main issue here is with the sampler and weight. Here t

[2019-10-04 08:28] zhaoxiaoqian666 commented on #443
I  modified the parameter border of croplayer in unet.py as follows: crop_layer = CropLayer (border = 8, name ='crop-16'), so the size of image is equal to the size of label after removing the border.I don't know if that's true？

[2019-10-04 08:53] wyli commented on #443
That's true, alternatively you could try `name= nonewnet` which uses an improved version of unet 3d https://github.com/NifTK/NiftyNet/blob/dev/niftynet/network/no_new_net.py#L18

[2019-10-04 10:50] IsaacLord opened #449 "Getting High Error between the Patch in Generated images"
I'm trying to generate output in high dimension images.
The images size are (152,152,350), which i can only input (152,152,32) size of image to network (3DResnet, with 2080 ti), when i'm trying to generate an output form images i see high errors between these batches(between each 32 slice), i tried the window_sampling : uniform and balanced but i didn't saw any difference.
is there any solution fo

[2019-10-04 12:50] yuniorcf commented on #446
Hi, i did some progress, i think.
I have upgraded nvidia drivers and cuda toolkit. At leas I do not see the previous errors anymore.
Now I have nvidia-418, cuda-10.1 and tf 1.14.
However I have a new error (see below)
......
 Traceback (most recent call last):
  File "net_segment.py", line 5, in <module>
    from niftynet import main
  File "/home/yunior/NiftyNet/niftynet/__init__.py", line 62, in

[2019-10-06 11:17] #436 closed, assigned to tomvars

[2019-10-06 11:18] #445 closed, assigned to nobody

[2019-10-09 00:06] zhaoxiaoqian666 commented on #443
Thank you!I found the mistake,I mistakenly wrote the test file into a training set.

[2019-10-09 01:17] #443 closed, assigned to nobody

[2019-10-09 11:51] yuniorcf commented on #446
Hi guys, I really need NiftyNet running in my PC. However after more than a week I am not able to do it. Could somebody guiveme a feedback please?
I have been trying to run the example posted [here](https://niftynet.readthedocs.io/en/dev/) with no success. I have tried several configuration of nvidia drivers, cuda versions, cudnn and tensorflow but no progress at all.
I currently have Ubuntu 18.04

[2019-10-10 16:33] hasansari opened #454 "KeyError: 'total_loss' in deep_boosted_regression application"
I have been trying to run the Deep Boosted Regression with some 3D datasets and get the following error after the first validation step. The training runs fine until then.

INFO:niftynet:     validation iter 200, Loss=710.3148193359375, data_loss1=238.03733825683594, data_loss2=236.62986755371094, data_loss3=235.64764404296875 (79.673389s)
INFO:niftynet: cleaning up...
INFO:niftynet: iter 200 save

[2019-10-11 20:03] kennethaweberii commented on #331
Hello NiftyNet, I am just following up on this. Do you have any suggestions or other examples of how to use NiftyNet for a classification task? Thanks, Ken

[2019-10-13 03:03] Endousan opened #455 "How do I use 'vars_to_restore' and 'vars_to_freeze'"
I have a trained model and want to used to a new model, they have some same layer, so I  try to  transfer weights of these layers and freeze them,  but know few about it. after reading niftynet documentation, I still don't know how 'vars_to_restore' and 'vars_to_freeze' is called after it is written in the configuration. Are there some relevant example reference?
thanks a lot

[2019-10-24 12:30] danieltudosiu opened #457 "SubPixel Convolution Upgrade"
This issue was sparked by the implementation of SubPixel Convolution that is available in Fast.ai [1]

Things to do:
- [x] Restructure SubPixel Convolution since it does not fall in line with the original paper's description
- [x] Add the ICNR initialization [2] of the convolutional layer
- [x] Add AveragePool after the pixel shuffle [3]

[1] [PixelShuffle ICNR](https://github.com/fastai/fastai/bl

[2019-10-24 15:36] danieltudosiu commented on #457
A new partial limitation has been created by this extension. If ICNR initialization is used then the upsample factor MUST be an integer.

Did the modification on the brach with the same number as the issue, waiting for the person that implemented ICNR to validate my generalization.

[2019-10-28 14:29] danieltudosiu commented on #454
I am not the maintainer of that application, but looking into it it just misses the total_loss from the TF_SUMMARIES.

Please try and replace

[code]

with:

[code]

[2019-10-28 14:42] danieltudosiu commented on #446
I have never encountered your problem. Also, it seems to be Tensorflow & CUDA related more then NiftyNet related, which is also referenced by the fact that it works on CPU but not on GPU.

Could you please modify the following line in util_common.py:

[code]

with

[code]

[2019-10-29 18:14] NicoYuCN commented on #17
Does it mean the maximum size of input volumetric images is no larger than [132 132 116]? If so, it makes the NiftyNet is not so flexiable.

[2019-11-02 07:09] amartya-k commented on #200
Is this working for class imbalanced semantic segmentation?(mostly medical images)

[2019-11-02 13:21] tvercaut opened #459 "Support for tensorflow 1.15"
Compatibility with TF 1.1.5 needs to be confirmed.

Additionally, it would probably be good to make TF 1.15 the default backend for tensorflow. Indeed, we can read that

https://www.tensorflow.org/install/pip?lang=python3

This should simplify installation requirements notably by allowing to merge
https://github.com/NifTK/NiftyNet/blob/dev/requirements-cpu.txt
https://github.com/NifTK/NiftyNet/blo

[2019-11-02 13:29] danieltudosiu commented on #459
I will take this issue.

On Sat, 2 Nov 2019, 13:21 Tom Vercauteren, <notifications@github.com> wrote:

[2019-11-02 13:35] fepegar commented on #200
@amartya-k yes, it should. Take a look at the paper I referenced in the first comment.

[2019-11-04 15:17] danieltudosiu opened #460 "Implement FixUp Layer"
Implementing FixUp initialization [1] based convolutional layer as it allows one to train without normalization.

[1] Zhang, Hongyi, Yann N. Dauphin, and Tengyu Ma. "Fixup initialization: Residual learning without normalization." arXiv preprint arXiv:1901.09321 (2019).

[2019-11-04 16:41] danieltudosiu commented on #459
Note, it requires cudnn 7.6

[2019-11-06 18:25] danieltudosiu opened #461 "Multi-GPU initialisation issue"
I am trying to use multiple GPUs to train my network and I observed a peculiar behavior that I think is due to an initialization issue.

My network and application run just fine on a single GPU, but as soon as I want to use multiple GPUs I start getting NaNs all over the network and loss function randomly (checked with tf.check_numerics after each layer). Following that I concluded that the gradie

[2019-11-08 09:50] #461 closed, assigned to nobody

[2019-11-13 07:19] Aliktk opened #462 "Expected size of adding custom dataset for classification task on MR dataset?"
Before filing your issue, please note that it might be more appropriate for Stack Overflow, using the `niftynet` tag:
https://stackoverflow.com/questions/tagged/niftynet

Read the following to decide whether to file an issue here or ask a question on Stack Overflow:

**Issue** → **Action**
- How do I ...? → Stack Overflow
- I got this error, why? → Stack Overflow
- I got this error and I'm sure it

[2019-11-25 18:43] EndritPJ opened #463 "Provided indices are out-of-bounds w.r.t. dense side with broadcasted shape. Histogram error?"
Hi,

I'm having an issue training a model to segment 5 different classes. The dataset I'm using contains 10 MRI images each with 5 different labels. These labels are consistent for each instance (I checked in the .nii.gz files).

The labels are as follows: 0 1 2 64 71

When I train for 3 classes (0, 1 and 2) the training works fine. When I train for 5, I get the below error.

*InvalidArgumentError

[2019-11-26 10:55] nouranik commented on #70
thank you for the guidance,
I have a ground truth a volume that in the center the intensities are larger and more important than the peripheral part. I provided the volume matrix (weight) to improve the quality of prediction but it did not make the result better at all. what would you suggest?

[2019-11-26 11:59] EndritPJ commented on #463
Update: Looks like the training is working now, I manually changed the label numbering in the .nii.gz files to be sequential, though it could also be done with a script. I'm still curious to know as to why it wasn't training before if anyone has any further explanations.

[2019-11-26 11:59] #463 closed, assigned to nobody

[2019-11-28 07:13] shenao1995 commented on #331
Hello.Did you solve the problem?

[2019-12-04 18:01] dzhoshkun commented on #352
Hi all,

**Re Docker**

Just wanted to let you know that we are starting to use nvidia-docker in one of our projects for CI-testing GPU-accelerated capabilities on the same test server (GIFT-Little) that is used for NiftyNet's CI tests. From preliminary tests, it appears to be working reasonably well, albeit with a little bit of configuration effort.

I remember there was some discussion around co

[2019-12-05 19:31] hasansari opened #464 "Using GANs without conditioning"
Hi,

I have been using NiftyNet with various architectures, thank you all for your work. I am currently interested in using NiftyNet with GAN for am image synthesis problem (i.e. converting between modalities). It looks like the configuration file have to include the conditioning coordinates (as listed in the ultrasound demo example). Is it possible to use the GAN architecture without these condit

[2019-12-07 04:08] talmazov commented on #436
Hey,
so i tried again, when i run tensorflow GPU for object detection everything runs fine. I have installed numpy 1.16.0 amd tensorflow-gpu 1.13.2 however i still get the GPU-CPU memcpy failed

i am not sure why CUDNN handle could not be created

[code]

[2019-12-07 17:43] talmazov commented on #436
I tried
[code]
and i get
[code]

what version of cuDNN is everybody else running??
i have niftynet 0.6, CUDA 10.0, tensorflow-gpu 1.13.2 and numpy 1.16
using geforce RTX 2060 6GB vram with nvidia driver 440.33.01
tensorflow tries to allocate 5 GB
spatial_window_size = (64, 64, 512) with dense_vnet network

is this a common error thrown when the GPU does not have enough physical memory to run train

[2019-12-07 19:00] kennethaweberii commented on #331
I have not solved the problem. I am still waiting for a response.

[2019-12-08 20:36] talmazov commented on #445
What tensorflow version and numpy did you use? i have niftynet 0.6, CUDA 10.0, tensorflow-gpu 1.13.2 and numpy 1.16
using geforce RTX 2060 6GB vram with nvidia driver 440.33.01

Still doesn’t work...

[2019-12-08 22:49] talmazov commented on #446
i have niftynet 0.6, CUDA 10.0, tensorflow-gpu 1.13.2 and numpy 1.16
using geforce RTX 2060 6GB vram with nvidia driver 440.33.01
tensorflow tries to allocate 5 GB
spatial_window_size = (64, 64, 512) with dense_vnet network

i've tried config.gpu_options.allow_growth = True but it doesn't seem to work.
I get the same "Could not create cudnn handle: CUDNN_STATUS_INTERNAL_ERROR"

any solution so far

[2019-12-10 12:09] yuniorcf commented on #446
Hello, I am not an expert in Python programming and therefore I don't know the pretty way to do it. As in your case I also tried to use "config.gpu_options.allow_growth = True" but for whatever reason it did'n work for me neither. However, because it is not that problematic for me, I type the following command before running niftynet:
export TF_FORCE_GPU_ALLOW_GROWTH=true
This solved my problem
Ho

[2019-12-12 21:22] rachidf commented on #331
Hi kenneth,
I ran into the same problem as you. I had to change the size of my input images from 2d (64x64x1) to 'real' 3d images of size 64x64x2 where the second slice is an exact copy of the first one. I don't know how much this would affect the classification performance, but this helped me get rid of a similar 'rank' error to what you are getting. Labels can still be of size 1x1x1. I hope this

[2019-12-13 09:21] czj1989 commented on #11
@amh28 Hello，I also want to study the NiftyNet, But when I download the " Multi-Atlas Labeling Beyond the Cranial Vault" dataset,  I found the dataset is incorrect. Could you give me the dataset?Thank you very much !!!

the dataset likes this now:
![capture](https://user-images.githubusercontent.com/48468966/70788974-08b80400-1dcd-11ea-9120-c5699e24564e.png)

[2019-12-17 15:44] wyli opened #465 "upgrade to support tensorflow 1.15"
- merging 'requirements-*.txt' into 'requirements.txt' as TF 1.15 GPU/CPU are provided as a single package.
- update relevant documentation.
- drop python2 support (aligning with numpy https://numpy.org/neps/nep-0014-dropping-python2.7-proposal.html).

[2019-12-17 18:48] #459 closed, assigned to danieltudosiu

[2019-12-17 18:48] #465 closed, assigned to nobody

[2019-12-18 03:29] shenao1995 commented on #331
I am so so so excited,I have solved the problem with the help of my mentor.You just need to modify the code in the resnet.py file. Specifically, in line 109, `out = tf.reduce_mean (tf.nn.relu (layers.bn (out, is_training)), axis = [1, 2, 3]` is modified to `axis = [1, 2]`.This can be perfect Solve this problem.I hope this helps.

[2019-12-18 03:31] shenao1995 commented on #331
I did the same in the beginning, but after all, the way to handle 3d images is different from 2d images. You can refer to my answer to solve this problem.

[2019-12-18 18:02] #331 closed, assigned to tomvars

[2019-12-18 20:38] #454 closed, assigned to nobody

[2019-12-20 02:06] lixin14222 commented on #289
Hello,when I configure the Inference section during the training process, no csv_file output,why is this ? Can you tell me how to solve the problem?

[2019-12-25 07:03] lixin14222 opened #469 "If Niftynet supports Xavier initialization?"
I can not find how to  choose Xavier to initialize the hyper-parameter.

[2020-01-03 10:06] carlpe commented on #330
Did you find out how to do it, chinokenochkan?

[2020-01-03 21:17] rachidf commented on #331
Hi everyone,
Any ideas how to generate attention/activation for an image classification model?
Thank you and best regards,
Rachid

[2020-01-03 21:18] rachidf commented on #331
I meant activation maps in my previous question ...

[2020-01-07 08:08] carlpe opened #470 "Remove unconnected islands"
Is there a way to have small, unconnected islands (voxels which are false positive) removed automatically during post-processing? For instance with a threshold option to for example remove  all islands smaller than 500 voxels. I have seen 3Dslicer having such an option, but would be great if such a technique would be added during the inference stage to have predictions without unconnected islands?

[2020-01-10 18:35] fepegar opened #471 "Default values for the bias field layer might be too large"
Default values for the bias field layer coefficients might be too large:
https://github.com/NifTK/NiftyNet/blob/a383ba342e3e38a7ad7eed7538bfb34960f80c8d/niftynet/layer/rand_bias_field.py#L17-L18

I get sensible result with the values in this config:
https://github.com/NifTK/NiftyNet/blob/a383ba342e3e38a7ad7eed7538bfb34960f80c8d/config/default_segmentation_bf.ini#L55

@csudre

[2020-01-10 18:42] fepegar opened #472 "Float comparison in histogram normalisation layer"
This float comparison can be problematic.

https://github.com/NifTK/NiftyNet/blob/9b12da455dd8ed0a5e8e5060c4e939aa62d68c5a/niftynet/utilities/histogram_standardisation.py#L189

I was getting `-inf` in the output of the function because `1.6e-41 == 0` was returning `False`. I think an epsilon should be used instead: `diff_perc[diff_perc < epsilon] = np.inf`.

[2020-01-14 02:17] enochkan commented on #330
@carlpe my apologies for the late reply. I've switched to other source codes (not niftynet) for simple gan.

[2020-01-14 09:17] carlpe commented on #330
@chinokenochkan
May I ask which one you have been most successful?

[2020-01-16 18:36] bcdarwin opened #476 "Handle SimpleITK's lack of thread safety"
E.g., setting `num_threads` to 8 and using `loader = simpleitk` to read MINC2 files reliably causes a segfault somewhere in HDF5, while `num_threads = 1` is fine.

The easiest thing would be to detect multithreaded SimpleITK usage and print a warning that it might lead to problems, although I'd be happy to be able to actually use this configuration.

I'm willing to implement something, just lookin

[2020-02-04 10:24] javierbg opened #478 "Sections containing `csv_data_file` are not loaded"
In commit 25e6204d97ee2157360ee93a1a65d07523326b82, the way that CSV data files were handled was last modified. Specifically, in `niftynet.io.image_sets_partitioner.ImageSetsPartitioner`, method `load_data_sections_by_subject`:

[code]

This skips all sections where a `'csv_data_file'` has been specified. I can't find the part of the code where these sections are supposed to be loaded, and can't f

[2020-02-05 15:14] bcdarwin opened #479 "AdamW optimizer"
and specification via config file.

[2020-02-07 13:28] josefmalmstrom commented on #417
@JunMa11 Any chance you could share your config for training U-Net on Brats2018?

Thanks in advance!

[2020-02-16 09:09] carlpe opened #480 "TensorRT frozen graphs - integration with NiftyNet"
I have a question concerning TensorRT and use of frozen graphs.

"TensorRT performs several important transformations and optimizations to the neural network graph. First, layers with unused output are eliminated to avoid unnecessary computation. Next, where possible, convolution, bias, and ReLU layers are fused to form a single layer. Another transformation is horizontal layer fusion, or layer ag

[2020-03-02 12:55] snorrealm opened #481 "Feature: Rewrite NiftyNet to use TensorFlow 2.0"
It would be very neat to have NiftyNet use TensorFlow 2.0 instead of 1.x. This especially for our use case where we want to speed up the training time by using the better TF 2.0 multi-GPU support.

[2020-03-12 00:33] zheng-xing commented on #435
Adding "config.gpu_options.allow_growth = True" to the "tf_config" function does not work for me.
I have to use the method mentioned [here](https://github.com/NifTK/NiftyNet/issues/446#issuecomment-564004541).

[2020-03-15 01:50] natli-think opened #483 "Using NiftyNet to do segmentation of MRI scans(in .nii extension) to grey matter,white matter and csf"
Is it possible to use NiftyNet to do the segmentation of MRI Scans(i/p : .nii ext) to grey matter, white matter and csf. If so, how to get started with it and what will be the format of its output ?

[2020-04-07 15:07] patricio-astudillo commented on #435
This does not work for me either, however the following worked for me:
`export TF_FORCE_GPU_ALLOW_GROWTH=true`

[2020-04-14 15:44] hjmjohnson opened #484 "NiftiNet Roadmap"
Read the following to decide whether to file an issue here or ask a question on Stack Overflow:

**Issue** → **Action**
I am trying to determine how much effort to put into using NiftyNet.  I am concerned that the development pace has drastically dropped off recently, and the issues in the issue tracker are not being addressed.

If this project has run its course, it's funding has ended, and its g

[2020-04-15 15:23] tvercaut commented on #484
Thanks @hjmjohnson

We still need to formalise our position as a consortium but in short, most of the NiftyNet development efforts have now been redirected towards [MONAI](https://github.com/Project-MONAI/MONAI/).

We evaluated that the effort of switching from TF1.0 to TF2.0 was significant, and at the same time, a significant part of our initial user base was switching to PyTorch. This felt like

[2020-04-21 07:42] anmol4210 commented on #296
Hi I was also facing the same issue. But when I changed the loss function from Dice to **GDSC** I was able to train my network and loss also started decreasing.

[2020-04-21 07:43] anmol4210 commented on #275
Try changing the loss function from to **GDSC**

[2020-04-21 19:58] tvercaut commented on #484
[MONAI](https://github.com/Project-MONAI/MONAI/) made its first public release (v0.1.0). Concurently, NiftyNet is now explicitly marked as unmaintained (see 935bf4334cd00fa9f9d50f6a95ddcbfdde4031e0). I am thus closing this issue.

[2020-04-21 19:58] #484 closed, assigned to nobody

[2020-04-21 20:01] tvercaut commented on #481
As discussed in #484 NiftyNet is not actively mainatained anymore. Most of the NiftyNet development efforts have now been redirected towards [MONAI](https://github.com/Project-MONAI/MONAI).

[2020-04-21 20:03] tvercaut commented on #48
NiftyNet is now unmaintained. This issue can thus be closed.

[2020-04-21 20:03] #48 closed

[2020-04-21 20:04] #384 closed, assigned to nobody

[2020-04-28 16:53] ChandraV76 commented on #34
are the prediction and ground_truth are 1D tensor array?

[2020-05-11 10:55] jamtheim opened #485 "Niftynet window aggregator function for inferens - explaination needed"
Dear Niftynet,
I work as a Medical Physicist and is also a part time researcher
I hope I could get some help from you to explain a couple of things for me.
I am working on a medical segmentation problem in Niftynet using the highres3dnet_large model.
Model training has been performed and inference is working fine.
I use the argument output_prob = True to get probability values as output.
My spatia

[2020-06-22 05:51] zs963048949 opened #486 "using other DL framework"
Could I use other DL framework to build model，such as Keras ？

[2020-06-25 01:55] jillianlee commented on #254
@wyli is it possible to train a network in a similar method of tf Sessions?

[2020-07-29 19:23] srivathsapv commented on #124
Any updates on this feature?

[2020-09-18 08:56] amir-sanaat opened #487 "How to train a model with one input and multi-output?"
Dear Niftynet User,
I plan to train a model with one input and three (or more) outputs. Just consider a 2D image as input and three 2D images as output.
when I tried it with Niftynet I faced with the following error:

[1mINFO:niftynet:[0m initialised uniform sampler {'image': (1, 96, 112, 1, 1, 2), 'image_location': (1, 7), 'output': (1, 96, 112, 1, 1, 2), 'output_location': (1, 7)}
[1mWARNING:

[2020-10-20 14:40] lroyer-star opened #488 "dense-vnet to Monai"
Hi community,

As far as I understand, all the development from niftynet is redirected to Monai project.
However, I can not find dense v-net implementation in Monai.
Is this model is planned to be integrated ?

Thanks,

Lucas

[2020-10-20 20:38] ericspod commented on #488
We do plan to port every significant feature from NiftyNet over to MONAI. We have ported over some network definitions and are working on others but if you would like this one to be a priority please open a ticket on MONAI's repo to keep it visible.

[2021-02-23 19:53] mohammad69h94 commented on #261
Hi,
I using tf.__version__:  '2.3.0' and python 3.8. but I have the same problem : (TypeError: batch() missing 1 required positional argument: 'self')

What should I do?

[2021-03-17 06:27] AkhilaPhenomx opened #489 "Segmentation classes description not available"
Hi Team, I am able to successfully download and to inference using **highres3dnet_brain_parcellation**  model. But, I cannot find the details about segmentation classes in the output. Where can I find the label details for this model?